@import '../../../style/index.scss';

.portfolio-footer {
  background: linear-gradient(to bottom, $backgroundBottom, $backgroundTop);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 40px 0;
  .lien-reseaux {
    display: flex;
    gap: 15px;
    padding: 15px 0;
  }
  p {
    margin-top: 20px;
    color: $text-color;
  }
}

@media (max-width: 768px) {
  .portfolio-footer {
    .lien-reseaux {
      gap: 15px;
      padding: 15px 0;
    }
  }
}
