body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #201c2f;
  font-family: 'Roboto';
}

h2 {
  font-size: 25px;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 20px;
  }
}
.portfolio-banner {
  z-index: 1;
  color: #d6e1ff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content .banner-image,
.banner-content .banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.banner-content .banner-text {
  width: 60%;
}
.banner-content .banner-image {
  width: 40%;
}

@media (max-width: 1024px) {
  .banner-content {
    flex-direction: column;
  }
  .banner-text,
  .banner-image {
    width: 100%;
  }
}
.main-container {
  z-index: 1;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #201c2f 0%, #100751 100%);
  overflow: hidden;
}

@keyframes animStar {
  from {
    transform: translateY(0px) translateX(0px);
  }
  to {
    transform: translateY(-100vh) translateX(-100vw);
  }
}
@keyframes twinkleStar {
  25% {
    opacity: 0.1;
  }
}
.fixedStars1 {
  z-index: 2;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 146vw 98vh #fff, 120vw 2vh #fff, 152vw 198vh #fff, 50vw 134vh #fff,
    62vw 22vh #fff, 196vw 82vh #fff, 106vw 158vh #fff, 154vw 34vh #fff,
    40vw 56vh #fff, 38vw 6vh #fff, 94vw 92vh #fff, 48vw 28vh #fff,
    116vw 30vh #fff, 92vw 22vh #fff, 196vw 114vh #fff, 96vw 86vh #fff,
    70vw 32vh #fff, 48vw 18vh #fff, 40vw 72vh #fff, 150vw 88vh #fff,
    170vw 156vh #fff, 148vw 194vh #fff, 154vw 92vh #fff, 102vw 150vh #fff,
    46vw 46vh #fff, 12vw 50vh #fff, 12vw 168vh #fff, 194vw 176vh #fff,
    112vw 184vh #fff, 84vw 128vh #fff, 110vw 86vh #fff, 154vw 92vh #fff,
    46vw 142vh #fff, 6vw 152vh #fff, 178vw 184vh #fff, 6vw 154vh #fff,
    196vw 122vh #fff, 80vw 166vh #fff, 52vw 74vh #fff, 70vw 76vh #fff,
    84vw 44vh #fff, 74vw 66vh #fff, 38vw 12vh #fff, 172vw 120vh #fff,
    28vw 104vh #fff, 148vw 170vh #fff, 194vw 52vh #fff, 20vw 72vh #fff,
    60vw 82vh #fff, 48vw 106vh #fff, 38vw 94vh #fff, 26vw 12vh #fff,
    142vw 176vh #fff, 64vw 48vh #fff, 34vw 104vh #fff, 20vw 146vh #fff,
    154vw 42vh #fff, 48vw 70vh #fff, 74vw 58vh #fff, 60vw 136vh #fff,
    196vw 14vh #fff, 156vw 180vh #fff, 172vw 16vh #fff, 170vw 80vh #fff,
    196vw 114vh #fff, 126vw 184vh #fff, 8vw 110vh #fff, 68vw 128vh #fff,
    110vw 40vh #fff, 12vw 184vh #fff, 8vw 188vh #fff, 112vw 196vh #fff,
    94vw 2vh #fff, 98vw 116vh #fff, 124vw 46vh #fff, 72vw 80vh #fff,
    70vw 160vh #fff, 16vw 146vh #fff, 70vw 96vh #fff, 186vw 40vh #fff,
    164vw 16vh #fff, 116vw 150vh #fff, 132vw 94vh #fff, 10vw 160vh #fff,
    24vw 160vh #fff, 160vw 30vh #fff, 118vw 162vh #fff, 34vw 80vh #fff,
    64vw 102vh #fff, 190vw 124vh #fff, 194vw 180vh #fff, 106vw 90vh #fff,
    144vw 156vh #fff, 118vw 58vh #fff, 118vw 138vh #fff, 86vw 16vh #fff,
    70vw 104vh #fff, 50vw 124vh #fff, 116vw 16vh #fff, 176vw 188vh #fff;
  animation: twinkleStar 4s ease-in-out infinite;
  animation-delay: 2s;
}
.fixedStars1:after {
  content: ' ';
  top: -600px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 150vw 184vh #fff, 54vw 24vh #fff, 134vw 192vh #fff, 6vw 184vh #fff,
    98vw 142vh #fff, 2vw 4vh #fff, 198vw 178vh #fff, 142vw 108vh #fff,
    32vw 132vh #fff, 146vw 56vh #fff, 140vw 146vh #fff, 80vw 68vh #fff,
    140vw 74vh #fff, 148vw 134vh #fff, 112vw 108vh #fff, 24vw 114vh #fff,
    178vw 26vh #fff, 48vw 112vh #fff, 158vw 6vh #fff, 192vw 134vh #fff,
    170vw 190vh #fff, 80vw 98vh #fff, 112vw 196vh #fff, 186vw 194vh #fff,
    40vw 194vh #fff, 96vw 44vh #fff, 148vw 130vh #fff, 120vw 8vh #fff,
    164vw 40vh #fff, 112vw 162vh #fff, 54vw 180vh #fff, 86vw 66vh #fff,
    160vw 174vh #fff, 82vw 26vh #fff, 100vw 142vh #fff, 88vw 106vh #fff,
    152vw 76vh #fff, 172vw 76vh #fff, 42vw 90vh #fff, 188vw 2vh #fff,
    148vw 50vh #fff, 98vw 182vh #fff, 44vw 84vh #fff, 110vw 96vh #fff,
    142vw 188vh #fff, 50vw 44vh #fff, 80vw 76vh #fff, 66vw 104vh #fff,
    106vw 142vh #fff, 64vw 48vh #fff, 8vw 180vh #fff, 166vw 18vh #fff,
    192vw 104vh #fff, 102vw 84vh #fff, 106vw 46vh #fff, 66vw 128vh #fff,
    120vw 70vh #fff, 122vw 166vh #fff, 100vw 22vh #fff, 98vw 72vh #fff,
    84vw 110vh #fff, 18vw 168vh #fff, 172vw 28vh #fff, 100vw 54vh #fff,
    6vw 22vh #fff, 180vw 104vh #fff, 166vw 108vh #fff, 6vw 50vh #fff,
    70vw 148vh #fff, 32vw 18vh #fff, 24vw 60vh #fff, 132vw 196vh #fff,
    78vw 98vh #fff, 44vw 162vh #fff, 158vw 160vh #fff, 52vw 60vh #fff,
    112vw 154vh #fff, 130vw 102vh #fff, 76vw 134vh #fff, 196vw 126vh #fff,
    48vw 2vh #fff, 198vw 56vh #fff, 26vw 74vh #fff, 4vw 96vh #fff,
    114vw 116vh #fff, 190vw 4vh #fff, 70vw 62vh #fff, 72vw 110vh #fff,
    48vw 56vh #fff, 118vw 148vh #fff, 20vw 28vh #fff, 48vw 142vh #fff,
    144vw 184vh #fff, 100vw 166vh #fff, 158vw 98vh #fff, 90vw 196vh #fff,
    44vw 148vh #fff, 64vw 120vh #fff, 18vw 162vh #fff, 78vw 62vh #fff;
}

.fixedStars2 {
  z-index: 2;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 48vw 162vh #fff, 180vw 104vh #fff, 106vw 132vh #fff,
    52vw 74vh #fff, 108vw 26vh #fff, 82vw 6vh #fff, 58vw 62vh #fff,
    30vw 174vh #fff, 6vw 74vh #fff, 86vw 16vh #fff, 64vw 54vh #fff,
    58vw 192vh #fff, 22vw 134vh #fff, 138vw 4vh #fff, 76vw 108vh #fff,
    56vw 170vh #fff, 96vw 126vh #fff, 74vw 32vh #fff, 58vw 80vh #fff,
    10vw 188vh #fff, 2vw 48vh #fff, 92vw 18vh #fff, 140vw 114vh #fff,
    26vw 72vh #fff, 136vw 92vh #fff, 62vw 146vh #fff, 8vw 146vh #fff,
    142vw 166vh #fff, 92vw 80vh #fff, 136vw 160vh #fff, 168vw 104vh #fff,
    154vw 20vh #fff, 134vw 54vh #fff, 164vw 54vh #fff, 4vw 112vh #fff,
    34vw 84vh #fff, 166vw 110vh #fff, 188vw 130vh #fff, 64vw 162vh #fff,
    58vw 4vh #fff, 2vw 46vh #fff, 156vw 158vh #fff, 50vw 2vh #fff,
    84vw 124vh #fff, 168vw 36vh #fff, 104vw 138vh #fff, 22vw 52vh #fff,
    88vw 102vh #fff, 6vw 178vh #fff, 184vw 92vh #fff, 118vw 26vh #fff,
    30vw 128vh #fff, 14vw 56vh #fff, 142vw 66vh #fff, 194vw 2vh #fff,
    96vw 88vh #fff, 96vw 46vh #fff, 120vw 140vh #fff, 112vw 68vh #fff,
    76vw 180vh #fff, 62vw 164vh #fff, 42vw 126vh #fff, 174vw 156vh #fff,
    74vw 88vh #fff, 108vw 38vh #fff, 68vw 88vh #fff, 16vw 14vh #fff,
    4vw 94vh #fff, 30vw 28vh #fff, 102vw 120vh #fff, 18vw 166vh #fff,
    128vw 32vh #fff, 132vw 50vh #fff, 148vw 120vh #fff, 136vw 30vh #fff,
    50vw 34vh #fff, 198vw 200vh #fff, 128vw 108vh #fff, 188vw 182vh #fff,
    56vw 10vh #fff, 70vw 88vh #fff, 182vw 196vh #fff, 14vw 154vh #fff,
    168vw 22vh #fff, 168vw 38vh #fff, 108vw 14vh #fff, 186vw 160vh #fff,
    50vw 16vh #fff, 162vw 120vh #fff, 54vw 146vh #fff, 118vw 166vh #fff,
    28vw 154vh #fff, 26vw 88vh #fff, 138vw 166vh #fff, 142vw 134vh #fff,
    102vw 200vh #fff, 144vw 128vh #fff, 38vw 96vh #fff, 138vw 58vh #fff,
    140vw 144vh #fff;
  animation: twinkleStar 4s ease-in-out infinite;
  animation-delay: 1s;
}
.fixedStars2:after {
  content: ' ';
  top: -600px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 184vw 12vh #fff, 140vw 90vh #fff, 180vw 146vh #fff,
    56vw 178vh #fff, 30vw 40vh #fff, 48vw 4vh #fff, 10vw 66vh #fff,
    34vw 82vh #fff, 74vw 20vh #fff, 72vw 120vh #fff, 154vw 86vh #fff,
    34vw 170vh #fff, 72vw 50vh #fff, 154vw 184vh #fff, 116vw 20vh #fff,
    148vw 146vh #fff, 116vw 156vh #fff, 92vw 66vh #fff, 150vw 26vh #fff,
    184vw 18vh #fff, 164vw 70vh #fff, 90vw 116vh #fff, 86vw 122vh #fff,
    8vw 6vh #fff, 172vw 134vh #fff, 190vw 178vh #fff, 118vw 96vh #fff,
    120vw 160vh #fff, 188vw 200vh #fff, 192vw 118vh #fff, 30vw 18vh #fff,
    182vw 88vh #fff, 142vw 52vh #fff, 182vw 140vh #fff, 130vw 186vh #fff,
    12vw 34vh #fff, 174vw 34vh #fff, 134vw 122vh #fff, 182vw 168vh #fff,
    150vw 36vh #fff, 58vw 82vh #fff, 114vw 158vh #fff, 140vw 180vh #FF64vh #fff,
    166vw 74vh #fff, 62vw 160vh #fff, 80vw 190vh #fff, 136vw 166vh #fff,
    176vw 146vh #fff, 150vw 88vh #fff, 26vw 166vh #fff, 48vw 112vh #fff,
    166vw 128vh #fff, 22vw 134vh #fff, 80vw 188vh #fff, 124vw 90vh #fff,
    88vw 194vh #fff, 192vw 52vh #fff, 130vw 20vh #fff, 38vw 154vh #fff,
    98vw 152vh #fff, 148vw 172vh #fff, 164vw 188vh #fff, 52vw 182vh #fff,
    10vw 30vh #fff, 112vw 20vh #fff, 26vw 92vh #fff, 186vw 146vh #fff,
    186vw 136vh #fff, 70vw 172vh #fff, 44vw 8vh #fff, 70vw 18vh #fff,
    186vw 172vh #fff, 106vw 52vh #fff, 148vw 62vh #fff, 46vw 108vh #fff,
    10vw 6vh #fff, 86vw 106vh #fff, 108vw 142vh #fff, 56vw 98vh #fff,
    18vw 180vh #fff, 118vw 128vh #fff, 166vw 58vh #fff, 170vw 168vh #fff,
    194vw 8vh #fff, 100vw 54vh #fff, 170vw 58vh #fff, 2vw 98vh #fff,
    120vw 140vh #fff, 70vw 158vh #fff, 116vw 198vh #fff, 12vw 30vh #fff,
    184vw 196vh #fff, 84vw 94vh #fff, 136vw 4vh #fff, 16vw 114vh #fff,
    180vw 134vh #fff, 120vw 156vh #fff, 18vw 200vh #fff, 34vw 128vh #fff,
    36vw 40vh #fff, 134vw 12vh #fff;
}

.fixedStars3 {
  z-index: 2;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 158vw 90vh #fff, 98vw 64vh #fff, 146vw 188vh #fff, 30vw 24vh #fff,
    186vw 18vh #fff, 176vw 86vh #fff, 186vw 10vh #fff, 36vw 194vh #fff,
    160vw 74vh #fff, 56vw 200vh #fff, 166vw 90vh #fff, 52vw 172vh #fff,
    162vw 142vh #fff, 24vw 156vh #fff, 162vw 124vh #fff, 126vw 24vh #fff,
    152vw 158vh #fff, 198vw 188vh #fff, 196vw 182vh #fff, 160vw 74vh #fff,
    24vw 114vh #fff, 74vw 86vh #fff, 118vw 190vh #fff, 78vw 6vh #fff,
    24vw 130vh #fff, 172vw 172vh #fff, 78vw 90vh #fff, 30vw 176vh #fff,
    62vw 58vh #fff, 114vw 152vh #fff, 126vw 188vh #fff, 128vw 8vh #fff,
    182vw 170vh #fff, 158vw 150vh #fff, 200vw 116vh #fff, 166vw 170vh #fff,
    64vw 162vh #fff, 68vw 54vh #fff, 158vw 110vh #fff, 128vw 2vh #fff,
    200vw 78vh #fff, 158vw 68vh #fff, 40vw 120vh #fff, 76vw 118vh #fff,
    122vw 186vh #fff, 84vw 10vh #fff, 126vw 80vh #fff, 16vw 106vh #fff,
    162vw 22vh #fff, 122vw 38vh #fff, 128vw 184vh #fff, 28vw 168vh #fff,
    34vw 184vh #fff, 34vw 132vh #fff, 140vw 184vh #fff, 100vw 142vh #fff,
    48vw 20vh #fff, 144vw 172vh #fff, 26vw 30vh #fff, 76vw 48vh #fff,
    72vw 48vh #fff, 86vw 26vh #fff, 122vw 90vh #fff, 48vw 84vh #fff,
    102vw 200vh #fff, 126vw 174vh #fff, 12vw 20vh #fff, 142vw 18vh #fff,
    84vw 50vh #fff, 56vw 66vh #fff, 10vw 182vh #fff, 62vw 156vh #fff,
    34vw 70vh #fff, 66vw 14vh #fff, 66vw 36vh #fff, 116vw 66vh #fff,
    50vw 160vh #fff, 186vw 28vh #fff, 116vw 32vh #fff, 6vw 104vh #fff,
    144vw 30vh #fff, 146vw 160vh #fff, 36vw 36vh #fff, 164vw 158vh #fff,
    70vw 2vh #fff, 12vw 144vh #fff, 104vw 64vh #fff, 38vw 162vh #fff,
    94vw 148vh #fff, 188vw 164vh #fff, 152vw 92vh #fff, 70vw 2vh #fff,
    110vw 84vh #fff, 178vw 34vh #fff, 166vw 186vh #fff, 2vw 26vh #fff,
    84vw 142vh #fff, 188vw 170vh #fff, 94vw 68vh #fff, 66vw 158vh #fff;
  animation: twinkleStar 4s ease-in-out infinite;
}
.fixedStars3:after {
  content: ' ';
  top: -600px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 126vw 88vh #fff, 4vw 42vh #fff, 70vw 166vh #fff, 4vw 124vh #fff,
    94vw 12vh #fff, 80vw 56vh #fff, 40vw 98vh #fff, 200vw 2vh #fff,
    66vw 126vh #fff, 150vw 14vh #fff, 30vw 38vh #fff, 42vw 34vh #fff,
    154vw 156vh #fff, 50vw 110vh #fff, 30vw 6vh #fff, 82vw 22vh #fff,
    12vw 92vh #fff, 52vw 124vh #fff, 36vw 108vh #fff, 168vw 122vh #fff,
    26vw 104vh #fff, 14vw 196vh #fff, 12vw 50vh #fff, 122vw 102vh #fff,
    98vw 96vh #fff, 22vw 166vh #fff, 108vw 72vh #fff, 152vw 180vh #fff,
    114vw 198vh #fff, 70vw 114vh #fff, 142vw 10vh #fff, 16vw 160vh #fff,
    124vw 66vh #fff, 58vw 10vh #fff, 188vw 26vh #fff, 186vw 90vh #fff,
    88vw 172vh #fff, 182vw 98vh #fff, 162vw 106vh #fff, 174vw 12vh #fff,
    136vw 200vh #fff, 10vw 168vh #fff, 126vw 164vh #fff, 120vw 188vh #fff,
    56vw 74vh #fff, 54vw 74vh #fff, 80vw 200vh #fff, 86vw 94vh #fff,
    188vw 34vh #fff, 46vw 40vh #fff, 110vw 138vh #fff, 138vw 74vh #fff,
    98vw 30vh #fff, 98vw 12vh #fff, 46vw 90vh #fff, 28vw 122vh #fff,
    52vw 162vh #fff, 2vw 2vh #fff, 78vw 54vh #fff, 96vw 120vh #fff,
    76vw 172vh #fff, 2vw 6vh #fff, 10vw 42vh #fff, 40vw 70vh #fff,
    44vw 60vh #fff, 168vw 160vh #fff, 172vw 144vh #fff, 176vw 134vh #fff,
    80vw 164vh #fff, 108vw 42vh #fff, 22vw 6vh #fff, 18vw 24vh #fff,
    48vw 86vh #fff, 16vw 158vh #fff, 178vw 14vh #fff, 156vw 118vh #fff,
    118vw 36vh #fff, 70vw 56vh #fff, 22vw 178vh #fff, 66vw 18vh #fff,
    132vw 72vh #fff, 8vw 108vh #fff, 32vw 42vh #fff, 198vw 128vh #fff,
    70vw 12vh #fff, 200vw 106vh #fff, 194vw 86vh #fff, 138vw 112vh #fff,
    28vw 194vh #fff, 88vw 92vh #fff, 2vw 144vh #fff, 112vw 128vh #fff,
    28vw 188vh #fff, 16vw 52vh #fff, 168vw 26vh #fff, 38vw 46vh #fff,
    166vw 40vh #fff, 22vw 148vh #fff, 42vw 178vh #fff, 40vw 70vh #fff;
}

.stars1 {
  z-index: 2;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 96vw 28vh #fff, 92vw 78vh #fff, 132vw 92vh #fff, 124vw 142vh #fff,
    8vw 22vh #fff, 174vw 160vh #fff, 114vw 60vh #fff, 166vw 142vh #fff,
    96vw 92vh #fff, 14vw 30vh #fff, 62vw 178vh #fff, 194vw 132vh #fff,
    146vw 26vh #fff, 146vw 174vh #fff, 92vw 188vh #fff, 16vw 188vh #fff,
    36vw 180vh #fff, 110vw 26vh #fff, 90vw 20vh #fff, 110vw 162vh #fff,
    14vw 70vh #fff, 176vw 62vh #fff, 118vw 174vh #fff, 136vw 176vh #fff,
    152vw 62vh #fff, 100vw 38vh #fff, 92vw 74vh #fff, 98vw 148vh #fff,
    188vw 76vh #fff, 22vw 196vh #fff, 38vw 196vh #fff, 116vw 54vh #fff,
    70vw 180vh #fff, 68vw 64vh #fff, 140vw 196vh #fff, 12vw 160vh #fff,
    150vw 170vh #fff, 82vw 4vh #fff, 26vw 152vh #fff, 68vw 22vh #fff,
    34vw 22vh #fff, 120vw 162vh #fff, 196vw 176vh #fff, 188vw 64vh #fff,
    140vw 182vh #fff, 156vw 146vh #fff, 76vw 50vh #fff, 46vw 80vh #fff,
    160vw 72vh #fff, 60vw 200vh #fff, 134vw 66vh #fff, 56vw 12vh #fff,
    56vw 54vh #fff, 32vw 108vh #fff, 30vw 132vh #fff, 118vw 50vh #fff,
    24vw 96vh #fff, 108vw 180vh #fff, 146vw 76vh #fff, 46vw 64vh #fff,
    40vw 122vh #fff, 184vw 22vh #fff, 186vw 102vh #fff, 8vw 54vh #fff,
    30vw 2vh #fff, 2vw 68vh #fff, 36vw 26vh #fff, 106vw 76vh #fff,
    70vw 58vh #fff, 14vw 18vh #fff, 90vw 160vh #fff, 84vw 148vh #fff,
    118vw 74vh #fff, 62vw 12vh #fff, 60vw 92vh #fff, 18vw 102vh #fff,
    164vw 80vh #fff, 68vw 14vh #fff, 176vw 110vh #fff, 24vw 164vh #fff,
    80vw 134vh #fff, 92vw 34vh #fff, 162vw 16vh #fff, 114vw 64vh #fff,
    162vw 136vh #fff, 4vw 76vh #fff, 100vw 178vh #fff, 6vw 6vh #fff,
    160vw 134vh #fff, 190vw 54vh #fff, 156vw 128vh #fff, 182vw 40vh #fff,
    192vw 4vh #fff, 8vw 66vh #fff, 170vw 98vh #fff, 72vw 108vh #fff,
    164vw 78vh #fff, 112vw 164vh #fff, 92vw 146vh #fff, 24vw 182vh #fff,
    112vw 22vh #fff, 168vw 118vh #fff, 160vw 196vh #fff, 180vw 130vh #fff,
    110vw 190vh #fff, 92vw 16vh #fff, 136vw 116vh #fff, 196vw 92vh #fff,
    112vw 168vh #fff, 66vw 132vh #fff, 44vw 114vh #fff, 18vw 160vh #fff,
    92vw 114vh #fff, 174vw 94vh #fff, 54vw 68vh #fff, 98vw 36vh #fff,
    96vw 186vh #fff, 198vw 106vh #fff, 64vw 178vh #fff, 16vw 12vh #fff,
    140vw 8vh #fff, 160vw 160vh #fff, 96vw 190vh #fff, 198vw 192vh #fff,
    164vw 188vh #fff, 52vw 88vh #fff, 180vw 82vh #fff, 196vw 200vh #fff,
    54vw 4vh #fff, 66vw 104vh #fff, 2vw 74vh #fff, 10vw 130vh #fff,
    70vw 40vh #fff, 4vw 36vh #fff, 186vw 32vh #fff, 60vw 56vh #fff,
    10vw 56vh #fff, 178vw 42vh #fff, 178vw 116vh #fff, 126vw 68vh #fff,
    104vw 158vh #fff, 64vw 144vh #fff, 38vw 34vh #fff, 46vw 114vh #fff,
    122vw 170vh #fff, 6vw 146vh #fff, 26vw 64vh #fff, 148vw 132vh #fff,
    66vw 110vh #fff, 80vw 176vh #fff, 166vw 170vh #fff, 190vw 80vh #fff,
    4vw 64vh #fff, 124vw 34vh #fff, 12vw 132vh #fff, 68vw 78vh #fff,
    138vw 164vh #fff, 102vw 78vh #fff, 152vw 60vh #fff, 188vw 36vh #fff,
    74vw 114vh #fff, 84vw 134vh #fff, 108vw 108vh #fff, 130vw 110vh #fff,
    130vw 134vh #fff, 112vw 136vh #fff, 122vw 178vh #fff, 92vw 106vh #fff,
    118vw 74vh #fff, 158vw 94vh #fff, 138vw 12vh #fff, 22vw 152vh #fff,
    190vw 158vh #fff, 86vw 84vh #fff, 126vw 24vh #fff, 40vw 136vh #fff,
    32vw 86vh #fff, 78vw 130vh #fff, 162vw 106vh #fff, 122vw 90vh #fff,
    26vw 42vh #fff, 120vw 90vh #fff, 64vw 30vh #fff, 112vw 56vh #fff,
    170vw 38vh #fff, 182vw 2vh #fff, 118vw 106vh #fff, 116vw 38vh #fff,
    96vw 180vh #fff, 4vw 144vh #fff, 92vw 120vh #fff, 174vw 38vh #fff,
    88vw 94vh #fff, 192vw 154vh #fff, 180vw 6vh #fff, 46vw 194vh #fff,
    138vw 180vh #fff, 86vw 94vh #fff, 150vw 188vh #fff, 176vw 180vh #fff,
    56vw 10vh #fff, 92vw 190vh #fff, 76vw 198vh #fff, 92vw 38vh #fff,
    28vw 66vh #fff, 132vw 50vh #fff, 150vw 36vh #fff, 6vw 120vh #fff,
    24vw 80vh #fff, 188vw 178vh #fff, 106vw 142vh #fff, 38vw 92vh #fff,
    22vw 2vh #fff, 134vw 62vh #fff, 148vw 92vh #fff, 152vw 172vh #fff,
    140vw 2vh #fff, 28vw 6vh #fff, 174vw 14vh #fff, 32vw 84vh #fff,
    166vw 38vh #fff, 110vw 120vh #fff, 102vw 146vh #fff, 44vw 28vh #fff,
    22vw 50vh #fff, 118vw 184vh #fff, 190vw 158vh #fff, 158vw 72vh #fff,
    40vw 76vh #fff, 94vw 4vh #fff, 186vw 192vh #fff, 4vw 140vh #fff,
    54vw 90vh #fff, 166vw 78vh #fff, 128vw 138vh #fff, 108vw 172vh #fff,
    166vw 24vh #fff, 82vw 16vh #fff, 158vw 64vh #fff, 6vw 136vh #fff,
    184vw 84vh #fff, 192vw 72vh #fff, 120vw 118vh #fff, 150vw 162vh #fff,
    10vw 66vh #fff, 58vw 174vh #fff, 46vw 114vh #fff, 2vw 94vh #fff,
    40vw 172vh #fff, 100vw 60vh #fff, 66vw 14vh #fff, 18vw 128vh #fff,
    130vw 116vh #fff, 2vw 68vh #fff, 162vw 28vh #fff, 74vw 52vh #fff,
    52vw 188vh #fff, 12vw 128vh #fff, 176vw 124vh #fff, 38vw 192vh #fff,
    176vw 128vh #fff, 8vw 72vh #fff, 112vw 50vh #fff, 102vw 102vh #fff,
    20vw 194vh #fff, 56vw 162vh #fff, 108vw 2vh #fff, 78vw 162vh #fff,
    184vw 34vh #fff, 146vw 110vh #fff, 126vw 92vh #fff, 42vw 66vh #fff,
    120vw 88vh #fff, 184vw 36vh #fff, 86vw 82vh #fff, 48vw 186vh #fff,
    192vw 22vh #fff, 138vw 34vh #fff, 54vw 18vh #fff, 70vw 60vh #fff,
    50vw 90vh #fff, 98vw 28vh #fff, 72vw 152vh #fff, 196vw 190vh #fff,
    54vw 38vh #fff, 176vw 96vh #fff, 26vw 126vh #fff, 10vw 54vh #fff,
    56vw 198vh #fff, 154vw 130vh #fff, 176vw 124vh #fff, 96vw 2vh #fff,
    102vw 4vh #fff, 192vw 152vh #fff, 60vw 98vh #fff, 54vw 188vh #fff,
    90vw 24vh #fff, 200vw 158vh #fff, 46vw 6vh #fff, 134vw 146vh #fff;
  animation: animStar 150s linear infinite, twinkleStar 4s ease-in-out infinite;
  animation-delay: 1s;
}
.stars1:after {
  content: ' ';
  top: -600px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 42vw 64vh #fff, 158vw 12vh #fff, 8vw 82vh #fff, 138vw 158vh #fff,
    138vw 20vh #fff, 132vw 4vh #fff, 104vw 42vh #fff, 42vw 44vh #fff,
    156vw 198vh #fff, 58vw 170vh #fff, 100vw 52vh #fff, 82vw 188vh #fff,
    170vw 112vh #fff, 158vw 176vh #fff, 44vw 194vh #fff, 44vw 180vh #fff,
    12vw 58vh #fff, 70vw 154vh #fff, 82vw 178vh #fff, 196vw 172vh #fff,
    70vw 150vh #fff, 38vw 94vh #fff, 178vw 150vh #fff, 14vw 32vh #fff,
    160vw 50vh #fff, 168vw 154vh #fff, 172vw 182vh #fff, 94vw 184vh #fff,
    62vw 4vh #fff, 60vw 66vh #fff, 80vw 110vh #fff, 130vw 146vh #fff,
    174vw 154vh #fff, 200vw 78vh #fff, 58vw 72vh #fff, 24vw 20vh #fff,
    18vw 126vh #fff, 186vw 146vh #fff, 170vw 8vh #fff, 150vw 162vh #fff,
    186vw 178vh #fff, 16vw 26vh #fff, 100vw 30vh #fff, 66vw 48vh #fff,
    136vw 54vh #fff, 52vw 200vh #fff, 152vw 198vh #fff, 16vw 14vh #fff,
    58vw 64vh #fff, 58vw 94vh #fff, 188vw 196vh #fff, 44vw 28vh #fff,
    84vw 86vh #fff, 176vw 168vh #fff, 8vw 94vh #fff, 114vw 44vh #fff,
    68vw 200vh #fff, 146vw 38vh #fff, 66vw 98vh #fff, 108vw 36vh #fff,
    52vw 58vh #fff, 112vw 124vh #fff, 144vw 124vh #fff, 60vw 16vh #fff,
    142vw 102vh #fff, 140vw 174vh #fff, 84vw 144vh #fff, 110vw 28vh #fff,
    188vw 114vh #fff, 192vw 128vh #fff, 38vw 184vh #fff, 178vw 136vh #fff,
    144vw 46vh #fff, 142vw 6vh #fff, 2vw 116vh #fff, 42vw 134vh #fff,
    114vw 38vh #fff, 46vw 124vh #fff, 196vw 88vh #fff, 144vw 52vh #fff,
    60vw 140vh #fff, 42vw 96vh #fff, 8vw 50vh #fff, 60vw 186vh #fff,
    122vw 40vh #fff, 84vw 140vh #fff, 92vw 74vh #fff, 112vw 48vh #fff,
    40vw 158vh #fff, 126vw 138vh #fff, 174vw 32vh #fff, 198vw 124vh #fff,
    188vw 122vh #fff, 104vw 172vh #fff, 142vw 94vh #fff, 34vw 176vh #fff,
    64vw 14vh #fff, 20vw 42vh #fff, 42vw 130vh #fff, 126vw 190vh #fff,
    74vw 90vh #fff, 138vw 74vh #fff, 60vw 186vh #fff, 88vw 170vh #fff,
    92vw 92vh #fff, 78vw 110vh #fff, 84vw 38vh #fff, 36vw 40vh #fff,
    36vw 62vh #fff, 108vw 132vh #fff, 18vw 134vh #fff, 140vw 30vh #fff,
    166vw 50vh #fff, 34vw 154vh #fff, 96vw 6vh #fff, 74vw 118vh #fff,
    10vw 34vh #fff, 44vw 108vh #fff, 48vw 196vh #fff, 148vw 28vh #fff,
    46vw 180vh #fff, 8vw 28vh #fff, 32vw 110vh #fff, 78vw 178vh #fff,
    56vw 158vh #fff, 120vw 144vh #fff, 84vw 28vh #fff, 42vw 138vh #fff,
    84vw 72vh #fff, 24vw 92vh #fff, 22vw 128vh #fff, 20vw 82vh #fff,
    54vw 176vh #fff, 200vw 32vh #fff, 28vw 136vh #fff, 116vw 118vh #fff,
    72vw 140vh #fff, 68vw 50vh #fff, 180vw 150vh #fff, 32vw 98vh #fff,
    22vw 198vh #fff, 64vw 104vh #fff, 120vw 64vh #fff, 196vw 22vh #fff,
    34vw 76vh #fff, 72vw 60vh #fff, 44vw 142vh #fff, 72vw 88vh #fff,
    200vw 200vh #fff, 148vw 114vh #fff, 24vw 102vh #fff, 30vw 20vh #fff,
    42vw 10vh #fff, 128vw 184vh #fff, 198vw 92vh #fff, 160vw 146vh #fff,
    194vw 156vh #fff, 148vw 94vh #fff, 194vw 110vh #fff, 116vw 160vh #fff,
    12vw 132vh #fff, 136vw 194vh #fff, 154vw 46vh #fff, 162vw 78vh #fff,
    186vw 42vh #fff, 164vw 12vh #fff, 200vw 154vh #fff, 168vw 146vh #fff,
    106vw 92vh #fff, 120vw 30vh #fff, 88vw 62vh #fff, 108vw 154vh #fff,
    50vw 18vh #fff, 94vw 186vh #fff, 34vw 108vh #fff, 166vw 50vh #fff,
    172vw 86vh #fff, 186vw 8vh #fff, 124vw 90vh #fff, 68vw 54vh #fff,
    166vw 200vh #fff, 120vw 176vh #fff, 164vw 134vh #fff, 82vw 74vh #fff,
    186vw 108vh #fff, 188vw 48vh #fff, 50vw 24vh #fff, 128vw 122vh #fff,
    48vw 152vh #fff, 12vw 134vh #fff, 42vw 106vh #fff, 86vw 46vh #fff,
    28vw 194vh #fff, 68vw 114vh #fff, 102vw 198vh #fff, 136vw 56vh #fff,
    138vw 102vh #fff, 72vw 18vh #fff, 40vw 132vh #fff, 104vw 100vh #fff,
    54vw 108vh #fff, 68vw 152vh #fff, 174vw 42vh #fff, 122vw 96vh #fff,
    194vw 40vh #fff, 192vw 118vh #fff, 126vw 168vh #fff, 62vw 192vh #fff,
    150vw 46vh #fff, 162vw 48vh #fff, 150vw 76vh #fff, 78vw 166vh #fff,
    86vw 44vh #fff, 26vw 88vh #fff, 188vw 32vh #fff, 174vw 88vh #fff,
    24vw 26vh #fff, 120vw 182vh #fff, 56vw 130vh #fff, 68vw 122vh #fff,
    92vw 124vh #fff, 106vw 28vh #fff, 150vw 192vh #fff, 116vw 178vh #fff,
    46vw 186vh #fff, 164vw 24vh #fff, 96vw 78vh #fff, 142vw 24vh #fff,
    38vw 26vh #fff, 76vw 6vh #fff, 188vw 50vh #fff, 192vw 186vh #fff,
    70vw 10vh #fff, 36vw 10vh #fff, 24vw 44vh #fff, 46vw 172vh #fff,
    22vw 140vh #fff, 92vw 52vh #fff, 158vw 10vh #fff, 68vw 60vh #fff,
    102vw 70vh #fff, 48vw 116vh #fff, 48vw 198vh #fff, 38vw 148vh #fff,
    14vw 148vh #fff, 176vw 28vh #fff, 64vw 118vh #fff, 122vw 156vh #fff,
    176vw 48vh #fff, 140vw 110vh #fff, 90vw 196vh #fff, 168vw 178vh #fff,
    42vw 44vh #fff, 24vw 140vh #fff, 6vw 32vh #fff, 114vw 148vh #fff,
    98vw 10vh #fff, 176vw 6vh #fff, 134vw 46vh #fff, 54vw 68vh #fff,
    10vw 46vh #fff, 10vw 24vh #fff, 12vw 130vh #fff, 176vw 82vh #fff,
    88vw 72vh #fff, 130vw 86vh #fff, 192vw 30vh #fff, 32vw 110vh #fff,
    26vw 158vh #fff, 128vw 168vh #fff, 190vw 110vh #fff, 152vw 44vh #fff,
    74vw 146vh #fff, 196vw 68vh #fff, 36vw 126vh #fff, 26vw 188vh #fff,
    20vw 18vh #fff, 154vw 14vh #fff, 178vw 182vh #fff, 146vw 126vh #fff,
    198vw 106vh #fff, 112vw 124vh #fff, 188vw 190vh #fff, 100vw 146vh #fff,
    152vw 30vh #fff, 166vw 74vh #fff, 122vw 96vh #fff, 130vw 72vh #fff,
    190vw 10vh #fff, 36vw 162vh #fff, 102vw 194vh #fff, 2vw 128vh #fff,
    122vw 136vh #fff, 112vw 76vh #fff, 196vw 30vh #fff, 40vw 176vh #fff,
    140vw 126vh #fff, 48vw 8vh #fff, 2vw 52vh #fff, 184vw 38vh #fff;
}

.stars2 {
  z-index: 2;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 32vw 152vh #fff, 142vw 124vh #fff, 100vw 84vh #fff, 98vw 58vh #fff,
    112vw 178vh #fff, 170vw 108vh #fff, 34vw 26vh #fff, 168vw 60vh #fff,
    144vw 66vh #fff, 30vw 152vh #fff, 108vw 190vh #fff, 182vw 142vh #fff,
    88vw 134vh #fff, 24vw 188vh #fff, 28vw 66vh #fff, 96vw 40vh #fff,
    8vw 110vh #fff, 80vw 108vh #fff, 182vw 148vh #fff, 12vw 12vh #fff,
    142vw 22vh #fff, 150vw 188vh #fff, 198vw 58vh #fff, 104vw 18vh #fff,
    134vw 154vh #fff, 194vw 82vh #fff, 130vw 180vh #fff, 98vw 86vh #fff,
    66vw 88vh #fff, 76vw 54vh #fff, 76vw 126vh #fff, 122vw 90vh #fff,
    16vw 90vh #fff, 34vw 166vh #fff, 58vw 84vh #fff, 58vw 186vh #fff,
    68vw 54vh #fff, 26vw 146vh #fff, 12vw 178vh #fff, 114vw 196vh #fff,
    190vw 8vh #fff, 64vw 144vh #fff, 10vw 144vh #fff, 24vw 146vh #fff,
    104vw 32vh #fff, 28vw 142vh #fff, 200vw 84vh #fff, 134vw 136vh #fff,
    122vw 194vh #fff, 102vw 44vh #fff, 172vw 76vh #fff, 116vw 112vh #fff,
    12vw 90vh #fff, 160vw 140vh #fff, 132vw 172vh #fff, 58vw 20vh #fff,
    196vw 166vh #fff, 114vw 184vh #fff, 162vw 126vh #fff, 90vw 170vh #fff,
    152vw 18vh #fff, 188vw 194vh #fff, 112vw 190vh #fff, 170vw 10vh #fff,
    60vw 62vh #fff, 190vw 128vh #fff, 162vw 134vh #fff, 74vw 144vh #fff,
    24vw 60vh #fff, 28vw 136vh #fff, 182vw 16vh #fff, 198vw 68vh #fff,
    96vw 176vh #fff, 114vw 40vh #fff, 146vw 16vh #fff, 44vw 154vh #fff,
    6vw 196vh #fff, 12vw 40vh #fff, 82vw 68vh #fff, 138vw 128vh #fff,
    96vw 156vh #fff, 192vw 66vh #fff, 2vw 98vh #fff, 132vw 76vh #fff,
    42vw 104vh #fff, 112vw 156vh #fff, 100vw 14vh #fff, 102vw 22vh #fff,
    56vw 24vh #fff, 84vw 96vh #fff, 38vw 170vh #fff, 180vw 126vh #fff,
    168vw 172vh #fff, 52vw 180vh #fff, 78vw 12vh #fff, 62vw 92vh #fff,
    100vw 176vh #fff, 48vw 90vh #fff, 144vw 54vh #fff, 90vw 62vh #fff,
    68vw 72vh #fff, 84vw 10vh #fff, 186vw 132vh #fff, 54vw 54vh #fff,
    136vw 148vh #fff, 126vw 76vh #fff, 60vw 44vh #fff, 138vw 30vh #fff,
    28vw 4vh #fff, 76vw 178vh #fff, 138vw 200vh #fff, 66vw 110vh #fff,
    20vw 34vh #fff, 144vw 114vh #fff, 150vw 146vh #fff, 44vw 176vh #fff,
    188vw 134vh #fff, 128vw 54vh #fff, 32vw 142vh #fff, 164vw 100vh #fff,
    8vw 56vh #fff, 46vw 138vh #fff, 40vw 168vh #fff, 28vw 32vh #fff,
    198vw 188vh #fff, 128vw 130vh #fff, 32vw 118vh #fff, 94vw 68vh #fff,
    190vw 184vh #fff, 114vw 90vh #fff, 124vw 124vh #fff, 10vw 196vh #fff,
    72vw 88vh #fff, 138vw 200vh #fff, 26vw 78vh #fff, 38vw 188vh #fff,
    186vw 88vh #fff, 68vw 26vh #fff, 126vw 112vh #fff, 98vw 80vh #fff,
    102vw 98vh #fff, 86vw 142vh #fff, 110vw 110vh #fff, 200vw 164vh #fff,
    132vw 82vh #fff, 194vw 28vh #fff, 68vw 72vh #fff, 16vw 190vh #fff,
    64vw 26vh #fff, 126vw 28vh #fff, 124vw 190vh #fff, 94vw 34vh #fff,
    110vw 16vh #fff, 48vw 142vh #fff, 140vw 114vh #fff, 14vw 70vh #fff,
    114vw 190vh #fff, 172vw 192vh #fff, 190vw 142vh #fff, 128vw 150vh #fff,
    128vw 64vh #fff, 116vw 102vh #fff, 134vw 36vh #fff, 56vw 72vh #fff,
    8vw 34vh #fff, 98vw 26vh #fff, 44vw 116vh #fff, 188vw 162vh #fff,
    24vw 34vh #fff, 48vw 24vh #fff, 184vw 16vh #fff, 190vw 136vh #fff,
    194vw 114vh #fff, 146vw 190vh #fff, 56vw 92vh #fff, 108vw 60vh #fff,
    126vw 140vh #fff, 66vw 96vh #fff, 44vw 98vh #fff, 148vw 188vh #fff,
    158vw 146vh #fff, 96vw 40vh #fff, 14vw 148vh #fff, 80vw 122vh #fff,
    78vw 68vh #fff, 4vw 48vh #fff, 98vw 98vh #fff, 88vw 50vh #fff,
    164vw 72vh #fff, 86vw 110vh #fff, 66vw 68vh #fff, 84vw 86vh #fff,
    128vw 36vh #fff, 36vw 172vh #fff, 136vw 90vh #fff, 138vw 188vh #fff,
    106vw 176vh #fff, 144vw 114vh #fff, 98vw 56vh #fff, 78vw 48vh #fff;
  animation: animStar 175s linear infinite, twinkleStar 4s ease-in-out infinite;
  animation-delay: 2s;
}
.stars2:after {
  content: ' ';
  top: -600px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 28vw 82vh #fff, 200vw 32vh #fff, 14vw 158vh #fff, 10vw 142vh #fff,
    82vw 30vh #fff, 10vw 130vh #fff, 18vw 98vh #fff, 72vw 14vh #fff,
    12vw 38vh #fff, 186vw 80vh #fff, 16vw 190vh #fff, 52vw 128vh #fff,
    46vw 92vh #fff, 192vw 6vh #fff, 58vw 8vh #fff, 160vw 4vh #fff,
    186vw 184vh #fff, 20vw 38vh #fff, 200vw 70vh #fff, 8vw 122vh #fff,
    116vw 44vh #fff, 194vw 192vh #fff, 72vw 172vh #fff, 12vw 140vh #F0vh #fff,
    112vw 36vh #fff, 74vw 8vh #fff, 68vw 2vh #fff, 144vw 128vh #fff,
    14vw 2vh #fff, 102vw 196vh #fff, 108vw 158vh #fff, 40vw 38vh #fff,
    130vw 116vh #fff, 46vw 50vh #fff, 56vw 126vh #fff, 178vw 176vh #fff,
    114vw 54vh #fff, 12vw 180vh #fff, 136vw 180vh #fff, 30vw 98vh #fff,
    4vw 48vh #fff, 174vw 188vh #fff, 98vw 168vh #fff, 162vw 152vh #fff,
    32vw 156vh #fff, 134vw 30vh #fff, 120vw 192vh #fff, 32vw 64vh #fff,
    104vw 30vh #fff, 110vw 28vh #fff, 14vw 126vh #fff, 152vw 182vh #fff,
    66vw 28vh #fff, 180vw 70vh #fff, 176vw 26vh #fff, 34vw 14vh #fff,
    152vw 50vh #fff, 86vw 56vh #fff, 78vw 48vh #fff, 180vw 86vh #fff,
    120vw 76vh #fff, 92vw 70vh #fff, 64vw 110vh #fff, 46vw 116vh #fff,
    186vw 12vh #fff, 8vw 82vh #fff, 86vw 84vh #fff, 142vw 136vh #fff,
    138vw 84vh #fff, 12vw 68vh #fff, 82vw 34vh #fff, 110vw 112vh #fff,
    44vw 60vh #fff, 140vw 140vh #fff, 92vw 84vh #fff, 176vw 58vh #fff,
    62vw 148vh #fff, 108vw 96vh #fff, 180vw 136vh #fff, 24vw 122vh #fff,
    2vw 148vh #fff, 158vw 192vh #fff, 40vw 58vh #fff, 196vw 112vh #fff,
    140vw 200vh #fff, 4vw 22vh #fff, 80vw 16vh #fff, 178vw 176vh #fff,
    108vw 10vh #fff, 48vw 192vh #fff, 148vw 110vh #fff, 188vw 84vh #fff,
    154vw 10vh #fff, 146vw 70vh #fff, 98vw 34vh #fff, 176vw 84vh #fff,
    44vw 58vh #fff, 78vw 86vh #fff, 42vw 56vh #fff, 70vw 58vh #fff,
    100vw 154vh #fff, 40vw 86vh #fff, 192vw 6vh #fff, 48vw 162vh #fff,
    150vw 68vh #fff, 38vw 184vh #fff, 100vw 24vh #fff, 142vw 40vh #fff,
    78vw 60vh #fff, 106vw 94vh #fff, 120vw 174vh #fff, 184vw 136vh #fff,
    54vw 32vh #fff, 146vw 114vh #fff, 44vw 182vh #fff, 180vw 104vh #fff,
    196vw 116vh #fff, 122vw 36vh #fff, 74vw 64vh #fff, 12vw 178vh #fff,
    70vw 176vh #fff, 78vw 66vh #fff, 72vw 40vh #fff, 30vw 20vh #fff,
    194vw 118vh #fff, 22vw 6vh #fff, 180vw 78vh #fff, 32vw 152vh #fff,
    122vw 26vh #fff, 50vw 50vh #fff, 116vw 130vh #fff, 196vw 166vh #fff,
    86vw 82vh #fff, 64vw 14vh #fff, 174vw 198vh #fff, 66vw 196vh #fff,
    22vw 174vh #fff, 120vw 28vh #fff, 66vw 84vh #fff, 130vw 188vh #fff,
    24vw 82vh #fff, 114vw 128vh #fff, 12vw 104vh #fff, 38vw 192vh #fff,
    70vw 4vh #fff, 146vw 84vh #fff, 192vw 40vh #fff, 120vw 132vh #fff,
    170vw 140vh #fff, 178vw 34vh #fff, 36vw 160vh #fff, 170vw 32vh #fff,
    112vw 130vh #fff, 162vw 18vh #fff, 88vw 84vh #fff, 108vw 136vh #fff,
    134vw 174vh #fff, 34vw 6vh #fff, 62vw 18vh #fff, 64vw 124vh #fff,
    62vw 170vh #fff, 150vw 52vh #fff, 128vw 126vh #fff, 52vw 164vh #fff,
    162vw 140vh #fff, 14vw 142vh #fff, 186vw 68vh #fff, 64vw 106vh #fff,
    188vw 130vh #fff, 168vw 142vh #fff, 18vw 44vh #fff, 60vw 140vh #fff,
    74vw 66vh #fff, 68vw 46vh #fff, 64vw 132vh #fff, 14vw 76vh #fff,
    94vw 62vh #fff, 24vw 46vh #fff, 10vw 140vh #fff, 62vw 134vh #fff,
    114vw 180vh #fff, 196vw 110vh #fff, 96vw 134vh #fff, 144vw 26vh #fff,
    168vw 200vh #fff, 40vw 6vh #fff, 66vw 148vh #fff, 194vw 170vh #fff,
    192vw 24vh #fff, 34vw 68vh #fff, 178vw 14vh #fff, 170vw 146vh #fff,
    128vw 176vh #fff, 98vw 58vh #fff, 94vw 76vh #fff, 72vw 82vh #fff,
    18vw 62vh #fff, 178vw 146vh #fff, 68vw 184vh #fff, 142vw 18vh #fff;
}

.stars3 {
  z-index: 2;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 58vw 24vh #fff, 42vw 140vh #fff, 16vw 76vh #fff, 162vw 18vh #fff,
    74vw 158vh #fff, 162vw 68vh #fff, 56vw 88vh #fff, 92vw 102vh #fff,
    62vw 172vh #fff, 60vw 98vh #fff, 128vw 86vh #fff, 50vw 34vh #fff,
    16vw 74vh #fff, 128vw 52vh #fff, 18vw 28vh #fff, 108vw 134vh #fff,
    150vw 142vh #fff, 36vw 128vh #fff, 64vw 2vh #fff, 170vw 138vh #fff,
    138vw 152vh #fff, 2vw 198vh #fff, 154vw 90vh #fff, 140vw 134vh #fff,
    174vw 8vh #fff, 8vw 46vh #fff, 144vw 84vh #fff, 2vw 48vh #fff,
    20vw 164vh #fff, 182vw 6vh #fff, 14vw 150vh #fff, 38vw 74vh #fff,
    134vw 198vh #fff, 200vw 88vh #fff, 64vw 114vh #fff, 116vw 22vh #fff,
    160vw 146vh #fff, 46vw 48vh #fff, 88vw 174vh #fff, 8vw 142vh #fff,
    174vw 148vh #fff, 72vw 196vh #fff, 128vw 102vh #fff, 176vw 14vh #fff,
    172vw 128vh #fff, 62vw 44vh #fff, 166vw 172vh #fff, 142vw 24vh #fff,
    14vw 196vh #fff, 164vw 70vh #fff, 48vw 56vh #fff, 132vw 126vh #fff,
    72vw 54vh #fff, 18vw 172vh #fff, 130vw 102vh #fff, 192vw 86vh #fff,
    180vw 56vh #fff, 152vw 190vh #fff, 152vw 176vh #fff, 156vw 94vh #fff,
    88vw 6vh #fff, 100vw 100vh #fff, 20vw 84vh #fff, 28vw 38vh #fff,
    188vw 76vh #fff, 152vw 54vh #fff, 120vw 106vh #fff, 88vw 78vh #fff,
    22vw 114vh #fff, 114vw 200vh #fff, 50vw 60vh #fff, 20vw 162vh #fff,
    132vw 64vh #fff, 6vw 136vh #fff, 44vw 180vh #fff, 126vw 178vh #fff,
    90vw 92vh #fff, 82vw 196vh #fff, 90vw 50vh #fff, 20vw 162vh #fff,
    4vw 126vh #fff, 78vw 120vh #fff, 38vw 148vh #fff, 186vw 128vh #fff,
    52vw 136vh #fff, 164vw 168vh #fff, 128vw 104vh #fff, 38vw 162vh #fff,
    174vw 112vh #fff, 100vw 198vh #fff, 152vw 158vh #fff, 30vw 56vh #fff,
    82vw 90vh #fff, 112vw 126vh #fff, 88vw 102vh #fff, 176vw 166vh #fff,
    20vw 74vh #fff, 24vw 22vh #fff, 40vw 90vh #fff, 186vw 38vh #fff,
    44vw 60vh #fff, 32vw 122vh #fff, 110vw 148vh #fff, 108vw 4vh #fff,
    112vw 190vh #fff, 132vw 50vh #fff, 82vw 4vh #fff, 38vw 190vh #fff,
    176vw 96vh #fff, 170vw 172vh #fff, 18vw 10vh #fff, 166vw 144vh #fff,
    98vw 74vh #fff, 58vw 42vh #fff, 174vw 74vh #fff, 100vw 20vh #fff,
    120vw 36vh #fff, 92vw 116vh #fff, 32vw 74vh #fff, 8vw 50vh #fff,
    136vw 132vh #fff, 186vw 64vh #fff, 158vw 94vh #fff, 14vw 4vh #fff,
    84vw 194vh #fff, 78vw 100vh #fff, 148vw 156vh #fff, 48vw 190vh #fff,
    46vw 82vh #fff, 124vw 166vh #fff, 102vw 102vh #fff, 48vw 124vh #fff,
    26vw 88vh #fff, 88vw 8vh #fff, 60vw 156vh #fff, 164vw 10vh #fff,
    96vw 186vh #fff, 76vw 174vh #fff, 96vw 74vh #fff, 30vw 76vh #fff,
    194vw 70vh #fff, 24vw 154vh #fff, 112vw 164vh #fff, 134vw 12vh #fff,
    146vw 84vh #fff, 56vw 14vh #fff, 24vw 66vh #fff, 26vw 28vh #fff,
    14vw 66vh #fff, 142vw 122vh #fff;
  animation: animStar 200s linear infinite, twinkleStar 4s ease-in-out infinite;
}
.stars3:after {
  content: ' ';
  top: -600px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 126vw 6vh #fff, 72vw 94vh #fff, 190vw 12vh #fff, 78vw 162vh #fff,
    30vw 154vh #fff, 2vw 112vh #fff, 196vw 20vh #fff, 114vw 40vh #fff,
    124vw 42vh #fff, 128vw 32vh #fff, 56vw 152vh #fff, 80vw 20vh #fff,
    94vw 182vh #fff, 30vw 78vh #fff, 196vw 156vh #fff, 104vw 116vh #fff,
    168vw 134vh #fff, 90vw 72vh #fff, 8vw 90vh #fff, 34vw 162vh #fff,
    46vw 148vh #fff, 82vw 24vh #fff, 8vw 182vh #fff, 130vw 120vh #fff,
    24vw 162vh #fff, 170vw 6vh #fff, 28vw 156vh #fff, 138vw 96vh #fff,
    164vw 144vh #fff, 40vw 114vh #fff, 130vw 140vh #fff, 82vw 192vh #fff,
    24vw 98vh #fff, 122vw 50vh #fff, 58vw 188vh #fff, 84vw 16vh #fff,
    36vw 84vh #fff, 36vw 12vh #fff, 114vw 88vh #fff, 40vw 134vh #fff,
    42vw 18vh #fff, 100vw 154vh #fff, 42vw 140vh #fff, 56vw 110vh #fff,
    164vw 198vh #fff, 162vw 38vh #fff, 110vw 24vh #fff, 76vw 192vh #fff,
    18vw 44vh #fff, 144vw 114vh #fff, 22vw 86vh #fff, 162vw 14vh #fff,
    180vw 116vh #fff, 100vw 174vh #fff, 50vw 194vh #fff, 52vw 50vh #fff,
    98vw 64vh #fff, 174vw 82vh #fff, 160vw 148vh #fff, 136vw 6vh #fff,
    132vw 108vh #fff, 126vw 54vh #fff, 142vw 54vh #fff, 182vw 182vh #fff,
    182vw 188vh #fff, 92vw 62vh #fff, 146vw 188vh #fff, 80vw 162vh #fff,
    66vw 134vh #fff, 112vw 86vh #fff, 28vw 160vh #fff, 126vw 86vh #fff,
    8vw 70vh #fff, 194vw 22vh #fff, 96vw 28vh #fff, 4vw 52vh #fff,
    26vw 146vh #fff, 190vw 80vh #fff, 96vw 172vh #fff, 30vw 162vh #fff,
    130vw 142vh #fff, 52vw 56vh #fff, 44vw 120vh #fff, 54vw 170vh #fff,
    126vw 118vh #fff, 120vw 70vh #fff, 140vw 134vh #fff, 154vw 148vh #fff,
    106vw 48vh #fff, 160vw 164vh #fff, 38vw 62vh #fff, 194vw 168vh #fff,
    2vw 92vh #fff, 134vw 60vh #fff, 10vw 138vh #fff, 90vw 84vh #fff,
    84vw 196vh #fff, 66vw 124vh #fff, 64vw 90vh #fff, 146vw 40vh #fff,
    200vw 110vh #fff, 184vw 190vh #fff, 8vw 28vh #fff, 104vw 144vh #fff,
    170vw 142vh #fff, 66vw 72vh #fff, 72vw 30vh #fff, 128vw 78vh #fff,
    128vw 96vh #fff, 168vw 162vh #fff, 148vw 54vh #fff, 152vw 46vh #fff,
    22vw 138vh #fff, 36vw 162vh #fff, 160vw 144vh #fff, 160vw 48vh #fff,
    116vw 62vh #fff, 166vw 72vh #fff, 110vw 128vh #fff, 2vw 90vh #fff,
    176vw 136vh #fff, 36vw 190vh #fff, 184vw 98vh #fff, 64vw 58vh #fff,
    72vw 48vh #fff, 138vw 54vh #fff, 46vw 146vh #fff, 188vw 154vh #fff,
    78vw 90vh #fff, 196vw 144vh #fff, 82vw 172vh #fff, 22vw 16vh #fff,
    82vw 142vh #fff, 196vw 192vh #fff, 140vw 152vh #fff, 30vw 80vh #fff,
    20vw 78vh #fff, 76vw 170vh #fff, 70vw 82vh #fff, 186vw 96vh #fff,
    200vw 4vh #fff, 182vw 34vh #fff, 196vw 178vh #fff, 196vw 146vh #fff,
    200vw 34vh #fff, 160vw 36vh #fff, 186vw 164vh #fff, 150vw 12vh #fff,
    176vw 26vh #fff, 64vw 176vh #fff;
} /*# sourceMappingURL=index.css.map */
