body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #201c2f;
  font-family: 'Roboto';
}

h2 {
  font-size: 25px;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 20px;
  }
}
.portfolio-banner {
  z-index: 1;
  color: #d6e1ff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content .banner-image,
.banner-content .banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.banner-content .banner-text {
  width: 60%;
}
.banner-content .banner-image {
  width: 40%;
}

@media (max-width: 1024px) {
  .banner-content {
    flex-direction: column;
  }
  .banner-text,
  .banner-image {
    width: 100%;
  }
}
.main-container {
  z-index: 1;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #201c2f 0%, #100751 100%);
  overflow: hidden;
}

@keyframes animStar {
  from {
    transform: translateY(0px) translateX(0px);
  }
  to {
    transform: translateY(-100vh) translateX(-100vw);
  }
}
@keyframes twinkleStar {
  25% {
    opacity: 0.1;
  }
}
.fixedStars1 {
  z-index: 2;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 72vw 46vh #fff, 48vw 118vh #fff, 116vw 106vh #fff, 118vw 38vh #fff,
    4vw 98vh #fff, 188vw 60vh #fff, 84vw 18vh #fff, 110vw 88vh #fff,
    148vw 76vh #fff, 142vw 104vh #fff, 114vw 158vh #fff, 162vw 106vh #fff,
    62vw 62vh #fff, 104vw 198vh #fff, 50vw 72vh #fff, 10vw 64vh #fff,
    108vw 176vh #fff, 144vw 48vh #fff, 168vw 186vh #fff, 44vw 64vh #fff,
    14vw 40vh #fff, 198vw 44vh #fff, 78vw 72vh #fff, 42vw 194vh #fff,
    56vw 198vh #fff, 178vw 34vh #fff, 152vw 172vh #fff, 44vw 168vh #fff,
    136vw 134vh #fff, 10vw 44vh #fff, 26vw 168vh #fff, 64vw 110vh #fff,
    98vw 94vh #fff, 4vw 182vh #fff, 112vw 44vh #fff, 122vw 138vh #fff,
    62vw 150vh #fff, 194vw 108vh #fff, 64vw 104vh #fff, 122vw 100vh #fff,
    70vw 22vh #fff, 162vw 120vh #fff, 162vw 2vh #fff, 36vw 118vh #fff,
    38vw 42vh #fff, 196vw 124vh #fff, 178vw 56vh #fff, 114vw 168vh #fff,
    52vw 154vh #fff, 186vw 10vh #fff, 184vw 64vh #fff, 40vw 106vh #fff,
    134vw 4vh #fff, 90vw 110vh #fff, 164vw 126vh #fff, 12vw 64vh #fff,
    198vw 20vh #fff, 196vw 96vh #fff, 42vw 146vh #fff, 68vw 170vh #fff,
    188vw 102vh #fff, 152vw 42vh #fff, 30vw 78vh #fff, 142vw 192vh #fff,
    176vw 192vh #fff, 82vw 42vh #fff, 138vw 164vh #fff, 106vw 130vh #fff,
    98vw 138vh #fff, 126vw 120vh #fff, 10vw 52vh #fff, 166vw 176vh #fff,
    158vw 178vh #fff, 66vw 144vh #fff, 14vw 180vh #fff, 114vw 28vh #fff,
    116vw 190vh #fff, 126vw 152vh #fff, 110vw 16vh #fff, 184vw 106vh #fff,
    74vw 98vh #fff, 60vw 48vh #fff, 32vw 28vh #fff, 10vw 14vh #fff,
    40vw 130vh #fff, 122vw 148vh #fff, 112vw 168vh #fff, 94vw 6vh #fff,
    56vw 52vh #fff, 38vw 52vh #fff, 14vw 86vh #fff, 94vw 32vh #fff,
    36vw 4vh #fff, 172vw 40vh #fff, 6vw 176vh #fff, 90vw 146vh #fff,
    46vw 70vh #fff, 156vw 40vh #fff, 72vw 72vh #fff, 124vw 174vh #fff;
  animation: twinkleStar 4s ease-in-out infinite;
  animation-delay: 2s;
}
.fixedStars1:after {
  content: ' ';
  top: -600px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 68vw 18vh #fff, 136vw 174vh #fff, 176vw 142vh #fff,
    184vw 176vh #fff, 24vw 128vh #fff, 78vw 190vh #fff, 196vw 52vh #fff,
    50vw 104vh #fff, 148vw 86vh #fff, 150vw 160vh #fff, 2vw 100vh #fff,
    22vw 98vh #fff, 134vw 102vh #fff, 130vw 42vh #fff, 156vw 68vh #fff,
    178vw 174vh #fff, 142vw 116vh #fff, 2vw 192vh #fff, 164vw 152vh #fff,
    182vw 164vh #fff, 36vw 76vh #fff, 6vw 98vh #fff, 76vw 136vh #fff,
    60vw 48vh #fff, 160vw 52vh #fff, 166vw 66vh #fff, 56vw 112vh #fff,
    66vw 114vh #fff, 100vw 100vh #fff, 48vw 62vh #fff, 130vw 78vh #fff,
    144vw 180vh #fff, 44vw 30vh #fff, 124vw 192vh #fff, 192vw 168vh #fff,
    112vw 144vh #fff, 106vw 14vh #fff, 48vw 130vh #fff, 160vw 78vh #fff,
    42vw 12vh #fff, 84vw 110vh #fff, 200vw 6vh #fff, 148vw 190vh #fff,
    8vw 176vh #fff, 152vw 18vh #fff, 200vw 126vh #fff, 82vw 66vh #fff,
    190vw 66vh #fff, 138vw 138vh #fff, 170vw 144vh #fff, 136vw 150vh #fff,
    134vw 162vh #fff, 128vw 188vh #fff, 86vw 150vh #fff, 90vw 114vh #fff,
    46vw 178vh #fff, 140vw 68vh #fff, 22vw 120vh #fff, 70vw 42vh #fff,
    186vw 78vh #fff, 110vw 32vh #fff, 152vw 34vh #fff, 144vw 30vh #fff,
    106vw 22vh #fff, 114vw 4vh #fff, 94vw 134vh #fff, 42vw 84vh #fff,
    112vw 96vh #fff, 140vw 52vh #fff, 200vw 144vh #fff, 192vw 24vh #fff,
    190vw 100vh #fff, 176vw 200vh #fff, 92vw 22vh #fff, 106vw 40vh #fff,
    42vw 118vh #fff, 132vw 148vh #fff, 34vw 90vh #fff, 16vw 126vh #fff,
    60vw 116vh #fff, 36vw 42vh #fff, 58vw 66vh #fff, 126vw 172vh #fff,
    84vw 42vh #fff, 170vw 38vh #fff, 164vw 112vh #fff, 140vw 20vh #fff,
    186vw 110vh #fff, 136vw 6vh #fff, 102vw 152vh #fff, 66vw 4vh #fff,
    34vw 136vh #fff, 120vw 24vh #fff, 124vw 94vh #fff, 190vw 98vh #fff,
    122vw 14vh #fff, 14vw 182vh #fff, 96vw 6vh #fff, 12vw 126vh #fff,
    38vw 70vh #fff;
}

.fixedStars2 {
  z-index: 2;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 194vw 74vh #fff, 102vw 182vh #fff, 164vw 32vh #fff,
    182vw 128vh #fff, 200vw 200vh #fff, 168vw 180vh #fff, 174vw 158vh #fff,
    76vw 120vh #fff, 144vw 68vh #fff, 90vw 16vh #fff, 190vw 152vh #fff,
    86vw 126vh #fff, 56vw 180vh #fff, 162vw 66vh #fff, 186vw 128vh #fff,
    8vw 62vh #fff, 68vw 194vh #fff, 122vw 136vh #fff, 6vw 58vh #fff,
    10vw 58vh #fff, 132vw 32vh #fff, 180vw 82vh #fff, 54vw 64vh #fff,
    106vw 178vh #fff, 160vw 72vh #fff, 28vw 52vh #fff, 4vw 70vh #fff,
    102vw 110vh #fff, 62vw 166vh #fff, 60vw 102vh #fff, 200vw 180vh #fff,
    158vw 54vh #fff, 122vw 158vh #fff, 10vw 76vh #fff, 18vw 162vh #fff,
    188vw 126vh #fff, 156vw 84vh #fff, 32vw 28vh #fff, 138vw 102vh #fff,
    156vw 76vh #fff, 132vw 134vh #fff, 130vw 150vh #fff, 70vw 92vh #fff,
    56vw 122vh #fff, 110vw 84vh #fff, 56vw 52vh #fff, 6vw 186vh #fff,
    82vw 176vh #fff, 98vw 142vh #fff, 146vw 62vh #fff, 196vw 122vh #fff,
    142vw 172vh #fff, 8vw 30vh #fff, 200vw 90vh #fff, 134vw 156vh #fff,
    84vw 62vh #fff, 28vw 16vh #fff, 192vw 182vh #fff, 106vw 54vh #fff,
    170vw 96vh #fff, 180vw 46vh #fff, 148vw 44vh #fff, 174vw 16vh #fff,
    48vw 14vh #fff, 44vw 198vh #fff, 36vw 166vh #fff, 36vw 110vh #fff,
    20vw 168vh #fff, 74vw 66vh #fff, 180vw 194vh #fff, 160vw 16vh #fff,
    186vw 80vh #fff, 186vw 124vh #fff, 116vw 162vh #fff, 42vw 94vh #fff,
    148vw 58vh #fff, 130vw 4vh #fff, 178vw 188vh #fff, 120vw 62vh #fff,
    28vw 8vh #fff, 126vw 28vh #fff, 176vw 88vh #fff, 70vw 42vh #fff,
    152vw 60vh #fff, 188vw 102vh #fff, 78vw 194vh #fff, 168vw 40vh #fff,
    80vw 146vh #fff, 42vw 76vh #fff, 98vw 172vh #fff, 174vw 164vh #fff,
    186vw 154vh #fff, 182vw 168vh #fff, 150vw 60vh #fff, 66vw 56vh #fff,
    122vw 44vh #fff, 66vw 60vh #fff, 170vw 60vh #fff, 124vw 138vh #fff,
    88vw 146vh #fff;
  animation: twinkleStar 4s ease-in-out infinite;
  animation-delay: 1s;
}
.fixedStars2:after {
  content: ' ';
  top: -600px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 196vw 196vh #fff, 198vw 30vh #fff, 100vw 8vh #fff, 84vw 188vh #fff,
    38vw 172vh #fff, 160vw 30vh #fff, 142vw 178vh #fff, 100vw 124vh #fff,
    148vw 162vh #fff, 12vw 190vh #fff, 62vw 80vh #fff, 126vw 152vh #fff,
    98vw 14vh #fff, 186vw 194vh #fff, 132vw 34vh #fff, 66vw 48vh #fff,
    90vw 26vh #fff, 110vw 26vh #fff, 6vw 130vh #fff, 130vw 136vh #fff,
    102vw 8vh #fff, 6vw 122vh #fff, 8vw 90vh #fff, 150vw 50vh #fff,
    18vw 110vh #fff, 122vw 90vh #fff, 80vw 152vh #fff, 32vw 42vh #fff,
    32vw 130vh #fff, 114vw 102vh #fff, 146vw 120vh #fff, 150vw 96vh #fff,
    38vw 78vh #fff, 90vw 10vh #fff, 34vw 68vh #fff, 192vw 176vh #fff,
    158vw 194vh #fff, 178vw 10vh #fff, 70vw 190vh #fff, 132vw 154vh #fff,
    130vw 42vh #fff, 4vw 90vh #fff, 78vw 16vh #fff, 34vw 64vh #fff,
    58vw 84vh #fff, 158vw 184vh #fff, 42vw 168vh #fff, 194vw 16vh #fff,
    106vw 118vh #fff, 46vw 150vh #fff, 78vw 40vh #fff, 186vw 116vh #fff,
    178vw 50vh #fff, 56vw 166vh #fff, 28vw 168vh #fff, 28vw 146vh #fff,
    158vw 68vh #fff, 14vw 76vh #fff, 76vw 154vh #fff, 8vw 20vh #fff,
    124vw 122vh #fff, 186vw 124vh #fff, 168vw 40vh #fff, 12vw 70vh #fff,
    88vw 174vh #fff, 90vw 120vh #fff, 138vw 22vh #fff, 194vw 44vh #fff,
    92vw 122vh #fff, 46vw 8vh #fff, 20vw 48vh #fff, 54vw 102vh #fff,
    34vw 20vh #fff, 10vw 70vh #fff, 140vw 30vh #fff, 118vw 76vh #fff,
    186vw 126vh #fff, 184vw 116vh #fff, 94vw 138vh #fff, 10vw 128vh #fff,
    172vw 152vh #fff, 60vw 138vh #fff, 80vw 32vh #fff, 78vw 144vh #fff,
    194vw 4vh #fff, 74vw 62vh #fff, 66vw 42vh #fff, 132vw 142vh #fff,
    200vw 16vh #fff, 42vw 128vh #fff, 66vw 86vh #fff, 16vw 88vh #fff,
    162vw 46vh #fff, 28vw 82vh #fff, 184vw 200vh #fff, 146vw 172vh #fff,
    24vw 116vh #fff, 48vw 170vh #fff, 188vw 188vh #fff, 88vw 138vh #fff;
}

.fixedStars3 {
  z-index: 2;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 138vw 120vh #fff, 78vw 36vh #fff, 164vw 168vh #fff, 64vw 26vh #fff,
    138vw 186vh #fff, 188vw 180vh #fff, 14vw 182vh #fff, 156vw 38vh #fff,
    54vw 116vh #fff, 56vw 200vh #fff, 44vw 116vh #fff, 178vw 180vh #fff,
    36vw 88vh #fff, 28vw 144vh #fff, 16vw 40vh #fff, 62vw 46vh #fff,
    106vw 172vh #fff, 24vw 114vh #fff, 10vw 52vh #fff, 82vw 110vh #fff,
    58vw 40vh #fff, 114vw 188vh #fff, 108vw 128vh #fff, 132vw 8vh #fff,
    126vw 4vh #fff, 28vw 96vh #fff, 184vw 186vh #fff, 142vw 174vh #fff,
    148vw 32vh #fff, 166vw 24vh #fff, 58vw 48vh #fff, 18vw 56vh #fff,
    120vw 170vh #fff, 38vw 116vh #fff, 94vw 132vh #fff, 48vw 188vh #fff,
    114vw 42vh #fff, 58vw 60vh #fff, 20vw 128vh #fff, 56vw 108vh #fff,
    18vw 192vh #fff, 156vw 196vh #fff, 144vw 66vh #fff, 128vw 132vh #fff,
    164vw 148vh #fff, 10vw 14vh #fff, 158vw 150vh #fff, 136vw 82vh #fff,
    50vw 164vh #fff, 10vw 102vh #fff, 32vw 88vh #fff, 126vw 106vh #fff,
    60vw 52vh #fff, 152vw 76vh #fff, 130vw 132vh #fff, 14vw 164vh #fff,
    48vw 38vh #fff, 186vw 196vh #fff, 70vw 168vh #fff, 172vw 96vh #fff,
    148vw 22vh #fff, 182vw 42vh #fff, 56vw 114vh #fff, 6vw 196vh #fff,
    30vw 120vh #fff, 140vw 130vh #fff, 92vw 64vh #fff, 82vw 158vh #fff,
    72vw 168vh #fff, 40vw 82vh #fff, 162vw 126vh #fff, 42vw 148vh #fff,
    166vw 176vh #fff, 118vw 16vh #fff, 40vw 48vh #fff, 114vw 26vh #fff,
    80vw 92vh #fff, 196vw 160vh #fff, 128vw 156vh #fff, 156vw 142vh #fff,
    138vw 182vh #fff, 132vw 30vh #fff, 100vw 180vh #fff, 66vw 120vh #fff,
    192vw 148vh #fff, 176vw 200vh #fff, 122vw 82vh #fff, 154vw 166vh #fff,
    118vw 170vh #fff, 52vw 94vh #fff, 120vw 154vh #fff, 20vw 100vh #fff,
    78vw 2vh #fff, 116vw 94vh #fff, 100vw 46vh #fff, 36vw 114vh #fff,
    10vw 168vh #fff, 68vw 142vh #fff, 50vw 196vh #fff, 16vw 124vh #fff;
  animation: twinkleStar 4s ease-in-out infinite;
}
.fixedStars3:after {
  content: ' ';
  top: -600px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 172vw 82vh #fff, 46vw 164vh #fff, 164vw 36vh #fff, 86vw 16vh #fff,
    40vw 138vh #fff, 178vw 200vh #fff, 150vw 110vh #fff, 38vw 70vh #fff,
    70vw 92vh #fff, 26vw 78vh #fff, 80vw 146vh #fff, 4vw 50vh #fff,
    86vw 96vh #fff, 120vw 74vh #fff, 140vw 94vh #fff, 18vw 68vh #fff,
    162vw 140vh #fff, 54vw 168vh #fff, 126vw 162vh #fff, 116vw 154vh #fff,
    8vw 144vh #fff, 60vw 114vh #fff, 64vw 58vh #fff, 194vw 110vh #fff,
    56vw 168vh #fff, 48vw 30vh #fff, 40vw 38vh #fff, 74vw 196vh #fff,
    22vw 68vh #fff, 70vw 152vh #fff, 16vw 116vh #fff, 14vw 138vh #fff,
    102vw 154vh #fff, 26vw 80vh #fff, 188vw 146vh #fff, 2vw 196vh #fff,
    66vw 150vh #fff, 48vw 40vh #fff, 82vw 4vh #fff, 10vw 8vh #fff,
    162vw 74vh #fff, 180vw 36vh #fff, 168vw 136vh #fff, 112vw 60vh #fff,
    106vw 90vh #fff, 142vw 10vh #fff, 66vw 144vh #fff, 36vw 12vh #fff,
    10vw 140vh #fff, 74vw 74vh #fff, 112vw 194vh #fff, 60vw 96vh #fff,
    186vw 168vh #fff, 98vw 38vh #fff, 72vw 184vh #fff, 200vw 60vh #fff,
    2vw 60vh #fff, 120vw 102vh #fff, 74vw 194vh #fff, 198vw 142vh #fff,
    188vw 60vh #fff, 46vw 106vh #fff, 74vw 44vh #fff, 18vw 142vh #fff,
    160vw 16vh #fff, 132vw 98vh #fff, 122vw 18vh #fff, 194vw 94vh #fff,
    82vw 184vh #fff, 150vw 52vh #fff, 36vw 8vh #fff, 60vw 2vh #fff,
    102vw 192vh #fff, 140vw 60vh #fff, 92vw 56vh #fff, 194vw 106vh #fff,
    164vw 130vh #fff, 86vw 158vh #fff, 74vw 190vh #fff, 170vw 66vh #fff,
    180vw 60vh #fff, 194vw 2vh #fff, 138vw 116vh #fff, 12vw 48vh #fff,
    164vw 146vh #fff, 132vw 110vh #fff, 170vw 136vh #fff, 20vw 42vh #fff,
    194vw 142vh #fff, 22vw 44vh #fff, 198vw 30vh #fff, 176vw 200vh #fff,
    64vw 8vh #fff, 90vw 50vh #fff, 106vw 154vh #fff, 52vw 138vh #fff,
    100vw 178vh #fff, 18vw 24vh #fff, 120vw 12vh #fff, 84vw 30vh #fff;
}

.stars1 {
  z-index: 2;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 32vw 158vh #fff, 72vw 200vh #fff, 198vw 150vh #fff,
    174vw 168vh #fff, 46vw 44vh #fff, 4vw 174vh #fff, 12vw 50vh #fff,
    164vw 72vh #fff, 4vw 50vh #fff, 128vw 56vh #fff, 118vw 146vh #fff,
    86vw 154vh #fff, 90vw 160vh #fff, 136vw 6vh #fff, 188vw 88vh #fff,
    20vw 200vh #fff, 114vw 58vh #fff, 64vw 162vh #fff, 134vw 46vh #fff,
    126vw 184vh #fff, 70vw 140vh #fff, 32vw 118vh #fff, 102vw 74vh #fff,
    140vw 136vh #fff, 66vw 118vh #fff, 86vw 52vh #fff, 144vw 146vh #fff,
    184vw 130vh #fff, 86vw 178vh #fff, 74vw 174vh #fff, 200vw 42vh #fff,
    124vw 176vh #fff, 156vw 166vh #fff, 88vw 160vh #fff, 34vw 120vh #fff,
    36vw 80vh #fff, 28vw 182vh #fff, 8vw 146vh #fff, 198vw 170vh #fff,
    148vw 74vh #fff, 162vw 186vh #fff, 104vw 154vh #fff, 150vw 110vh #fff,
    58vw 28vh #fff, 170vw 192vh #fff, 34vw 154vh #fff, 200vw 88vh #fff,
    128vw 58vh #fff, 62vw 100vh #fff, 176vw 4vh #fff, 134vw 90vh #fff,
    124vw 94vh #fff, 20vw 186vh #fff, 88vw 8vh #fff, 166vw 38vh #fff,
    174vw 86vh #fff, 92vw 124vh #fff, 86vw 80vh #fff, 102vw 128vh #fff,
    46vw 62vh #fff, 42vw 146vh #fff, 116vw 152vh #fff, 80vw 4vh #fff,
    178vw 154vh #fff, 20vw 170vh #fff, 126vw 148vh #fff, 16vw 138vh #fff,
    122vw 108vh #fff, 56vw 52vh #fff, 78vw 200vh #fff, 10vw 20vh #fff,
    52vw 64vh #fff, 46vw 110vh #fff, 52vw 96vh #fff, 90vw 68vh #fff,
    158vw 38vh #fff, 34vw 172vh #fff, 82vw 182vh #fff, 120vw 198vh #fff,
    50vw 4vh #fff, 118vw 60vh #fff, 82vw 120vh #fff, 138vw 128vh #fff,
    190vw 32vh #fff, 40vw 50vh #fff, 142vw 140vh #fff, 98vw 62vh #fff,
    2vw 58vh #fff, 168vw 172vh #fff, 2vw 188vh #fff, 40vw 158vh #fff,
    158vw 190vh #fff, 186vw 50vh #fff, 58vw 98vh #fff, 144vw 60vh #fff,
    198vw 84vh #fff, 164vw 140vh #fff, 146vw 12vh #fff, 166vw 88vh #fff,
    70vw 146vh #fff, 166vw 64vh #fff, 130vw 180vh #fff, 8vw 26vh #fff,
    88vw 74vh #fff, 140vw 38vh #fff, 72vw 138vh #fff, 28vw 162vh #fff,
    182vw 178vh #fff, 160vw 6vh #fff, 186vw 114vh #fff, 162vw 170vh #fff,
    22vw 76vh #fff, 142vw 164vh #fff, 40vw 126vh #fff, 92vw 108vh #fff,
    196vw 160vh #fff, 144vw 8vh #fff, 56vw 136vh #fff, 194vw 36vh #fff,
    146vw 36vh #fff, 152vw 82vh #fff, 200vw 18vh #fff, 144vw 156vh #fff,
    164vw 106vh #fff, 164vw 92vh #fff, 126vw 90vh #fff, 6vw 74vh #fff,
    84vw 30vh #fff, 32vw 108vh #fff, 106vw 118vh #fff, 164vw 24vh #fff,
    194vw 102vh #fff, 100vw 144vh #fff, 56vw 10vh #fff, 170vw 138vh #fff,
    6vw 64vh #fff, 18vw 148vh #fff, 58vw 10vh #fff, 138vw 122vh #fff,
    128vw 102vh #fff, 186vw 78vh #fff, 14vw 158vh #fff, 134vw 46vh #fff,
    166vw 32vh #fff, 94vw 14vh #fff, 2vw 164vh #fff, 80vw 142vh #fff,
    92vw 70vh #fff, 152vw 118vh #fff, 182vw 92vh #fff, 38vw 22vh #fff,
    178vw 152vh #fff, 178vw 18vh #fff, 72vw 118vh #fff, 34vw 100vh #fff,
    194vw 192vh #fff, 40vw 130vh #fff, 182vw 110vh #fff, 34vw 156vh #fff,
    140vw 36vh #fff, 82vw 192vh #fff, 148vw 112vh #fff, 62vw 38vh #fff,
    112vw 28vh #fff, 134vw 162vh #fff, 88vw 150vh #fff, 174vw 22vh #fff,
    172vw 108vh #fff, 68vw 48vh #fff, 36vw 178vh #fff, 128vw 66vh #fff,
    98vw 12vh #fff, 108vw 114vh #fff, 200vw 104vh #fff, 130vw 130vh #fff,
    128vw 52vh #fff, 24vw 30vh #fff, 4vw 32vh #fff, 192vw 14vh #fff,
    42vw 178vh #fff, 44vw 166vh #fff, 122vw 104vh #fff, 134vw 36vh #fff,
    92vw 170vh #fff, 164vw 58vh #fff, 154vw 126vh #fff, 182vw 62vh #fff,
    8vw 12vh #fff, 92vw 164vh #fff, 172vw 174vh #fff, 144vw 180vh #fff,
    42vw 94vh #fff, 140vw 50vh #fff, 120vw 128vh #fff, 176vw 46vh #fff,
    78vw 78vh #fff, 186vw 128vh #fff, 22vw 188vh #fff, 86vw 144vh #fff,
    74vw 92vh #fff, 172vw 114vh #fff, 108vw 146vh #fff, 38vw 78vh #fff,
    128vw 42vh #fff, 56vw 32vh #fff, 198vw 86vh #fff, 80vw 112vh #fff,
    140vw 200vh #fff, 14vw 34vh #fff, 160vw 164vh #fff, 114vw 120vh #fff,
    12vw 34vh #fff, 62vw 140vh #fff, 162vw 148vh #fff, 36vw 136vh #fff,
    108vw 194vh #fff, 82vw 184vh #fff, 32vw 12vh #fff, 94vw 182vh #fff,
    18vw 96vh #fff, 176vw 56vh #fff, 22vw 22vh #fff, 86vw 28vh #fff,
    126vw 112vh #fff, 20vw 20vh #fff, 132vw 6vh #fff, 116vw 46vh #fff,
    4vw 164vh #fff, 50vw 40vh #fff, 196vw 20vh #fff, 170vw 184vh #fff,
    160vw 138vh #fff, 58vw 86vh #fff, 178vw 90vh #fff, 64vw 182vh #fff,
    44vw 38vh #fff, 140vw 102vh #fff, 72vw 44vh #fff, 26vw 24vh #fff,
    120vw 166vh #fff, 160vw 158vh #fff, 10vw 136vh #fff, 62vw 102vh #fff,
    68vw 186vh #fff, 90vw 182vh #fff, 2vw 82vh #fff, 42vw 144vh #fff,
    130vw 128vh #fff, 10vw 176vh #fff, 52vw 88vh #fff, 160vw 60vh #fff,
    154vw 66vh #fff, 188vw 136vh #fff, 160vw 162vh #fff, 156vw 40vh #fff,
    120vw 174vh #fff, 166vw 128vh #fff, 144vw 138vh #fff, 64vw 182vh #fff,
    52vw 192vh #fff, 20vw 174vh #fff, 32vw 130vh #fff, 86vw 8vh #fff,
    100vw 120vh #fff, 84vw 164vh #fff, 28vw 72vh #fff, 102vw 122vh #fff,
    142vw 168vh #fff, 16vw 118vh #fff, 14vw 54vh #fff, 60vw 112vh #fff,
    118vw 8vh #fff, 24vw 174vh #fff, 144vw 170vh #fff, 196vw 40vh #fff,
    90vw 182vh #fff, 26vw 108vh #fff, 88vw 24vh #fff, 192vw 104vh #fff,
    22vw 6vh #fff, 128vw 88vh #fff, 56vw 186vh #fff, 100vw 62vh #fff,
    78vw 122vh #fff, 136vw 86vh #fff, 122vw 100vh #fff, 96vw 168vh #fff,
    152vw 18vh #fff, 66vw 134vh #fff, 100vw 92vh #fff, 6vw 10vh #fff,
    100vw 150vh #fff, 102vw 88vh #fff, 158vw 52vh #fff, 12vw 110vh #fff,
    54vw 16vh #fff, 4vw 50vh #fff, 188vw 142vh #fff, 138vw 132vh #fff,
    76vw 76vh #fff;
  animation: animStar 150s linear infinite, twinkleStar 4s ease-in-out infinite;
  animation-delay: 1s;
}
.stars1:after {
  content: ' ';
  top: -600px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 96vw 100vh #fff, 166vw 34vh #fff, 40vw 60vh #fff, 50vw 154vh #fff,
    80vw 58vh #fff, 114vw 194vh #fff, 12vw 178vh #fff, 146vw 88vh #fff,
    98vw 142vh #fff, 98vw 54vh #fff, 34vw 20vh #fff, 38vw 188vh #fff,
    84vw 74vh #fff, 22vw 62vh #fff, 190vw 114vh #fff, 52vw 46vh #fff,
    102vw 154vh #fff, 102vw 184vh #fff, 64vw 46vh #fff, 200vw 66vh #fff,
    72vw 4vh #fff, 180vw 42vh #fff, 144vw 124vh #fff, 18vw 62vh #fff,
    54vw 60vh #fff, 84vw 74vh #fff, 12vw 186vh #fff, 136vw 166vh #fff,
    152vw 70vh #fff, 160vw 36vh #fff, 4vw 132vh #fff, 116vw 78vh #fff,
    2vw 46vh #fff, 168vw 22vh #fff, 8vw 116vh #fff, 82vw 62vh #fff,
    10vw 42vh #fff, 124vw 48vh #fff, 16vw 128vh #fff, 60vw 132vh #fff,
    140vw 78vh #fff, 146vw 80vh #fff, 90vw 160vh #fff, 148vw 38vh #fff,
    88vw 82vh #fff, 118vw 28vh #fff, 174vw 14vh #fff, 24vw 72vh #fff,
    66vw 88vh #fff, 164vw 140vh #fff, 52vw 56vh #fff, 18vw 34vh #fff,
    64vw 62vh #fff, 14vw 192vh #fff, 200vw 74vh #fff, 30vw 64vh #fff,
    162vw 140vh #fff, 140vw 34vh #fff, 156vw 104vh #fff, 172vw 32vh #fff,
    90vw 196vh #fff, 100vw 22vh #fff, 194vw 126vh #fff, 102vw 56vh #fff,
    106vw 112vh #fff, 150vw 184vh #fff, 154vw 2vh #fff, 184vw 62vh #fff,
    18vw 92vh #fff, 76vw 172vh #fff, 88vw 60vh #fff, 32vw 26vh #fff,
    78vw 92vh #fff, 86vw 148vh #fff, 20vw 54vh #fff, 198vw 176vh #fff,
    40vw 42vh #fff, 54vw 54vh #fff, 90vw 30vh #fff, 82vw 166vh #fff,
    196vw 100vh #fff, 144vw 196vh #fff, 72vw 166vh #fff, 162vw 120vh #fff,
    132vw 4vh #fff, 76vw 94vh #fff, 60vw 128vh #fff, 96vw 66vh #fff,
    102vw 148vh #fff, 30vw 6vh #fff, 138vw 194vh #fff, 102vw 66vh #fff,
    156vw 38vh #fff, 148vw 72vh #fff, 194vw 64vh #fff, 178vw 88vh #fff,
    190vw 196vh #fff, 114vw 96vh #fff, 64vw 182vh #fff, 164vw 152vh #fff,
    110vw 104vh #fff, 60vw 24vh #fff, 154vw 8vh #fff, 154vw 78vh #fff,
    140vw 120vh #fff, 110vw 178vh #fff, 96vw 10vh #fff, 106vw 150vh #fff,
    20vw 112vh #fff, 138vw 134vh #fff, 112vw 30vh #fff, 102vw 200vh #fff,
    110vw 158vh #fff, 20vw 150vh #fff, 22vw 104vh #fff, 188vw 162vh #fff,
    62vw 28vh #fff, 150vw 186vh #fff, 2vw 6vh #fff, 186vw 72vh #fff,
    148vw 112vh #fff, 134vw 30vh #fff, 84vw 168vh #fff, 80vw 146vh #fff,
    90vw 156vh #fff, 196vw 72vh #fff, 112vw 82vh #fff, 56vw 144vh #fff,
    92vw 174vh #fff, 4vw 158vh #fff, 26vw 54vh #fff, 8vw 100vh #fff,
    124vw 114vh #fff, 158vw 118vh #fff, 66vw 40vh #fff, 56vw 178vh #fff,
    26vw 6vh #fff, 84vw 98vh #fff, 114vw 164vh #fff, 100vw 26vh #fff,
    58vw 102vh #fff, 144vw 198vh #fff, 172vw 126vh #fff, 20vw 60vh #fff,
    196vw 20vh #fff, 158vw 38vh #fff, 8vw 20vh #fff, 112vw 96vh #fff,
    42vw 164vh #fff, 120vw 160vh #fff, 170vw 178vh #fff, 184vw 170vh #fff,
    162vw 4vh #fff, 42vw 166vh #fff, 26vw 152vh #fff, 116vw 32vh #fff,
    172vw 94vh #fff, 78vw 10vh #fff, 196vw 154vh #fff, 4vw 22vh #fff,
    198vw 44vh #fff, 70vw 98vh #fff, 76vw 6vh #fff, 102vw 20vh #fff,
    88vw 116vh #fff, 16vw 200vh #fff, 170vw 82vh #fff, 34vw 106vh #fff,
    42vw 168vh #fff, 18vw 188vh #fff, 8vw 172vh #fff, 156vw 146vh #fff,
    142vw 118vh #fff, 110vw 12vh #fff, 112vw 58vh #fff, 116vw 52vh #fff,
    196vw 40vh #fff, 18vw 186vh #fff, 6vw 60vh #fff, 80vw 78vh #fff,
    106vw 178vh #fff, 148vw 6vh #fff, 128vw 24vh #fff, 38vw 132vh #fff,
    124vw 130vh #fff, 46vw 188vh #fff, 172vw 132vh #fff, 86vw 36vh #fff,
    58vw 126vh #fff, 50vw 158vh #fff, 6vw 84vh #fff, 96vw 194vh #fff,
    38vw 42vh #fff, 76vw 52vh #fff, 30vw 56vh #fff, 172vw 72vh #fff,
    92vw 12vh #fff, 78vw 32vh #fff, 70vw 126vh #fff, 8vw 128vh #fff,
    50vw 42vh #fff, 98vw 26vh #fff, 132vw 170vh #fff, 92vw 138vh #fff,
    150vw 90vh #fff, 40vw 124vh #fff, 56vw 90vh #fff, 146vw 98vh #fff,
    42vw 158vh #fff, 96vw 110vh #fff, 68vw 140vh #fff, 42vw 12vh #fff,
    184vw 4vh #fff, 6vw 184vh #fff, 10vw 28vh #fff, 152vw 66vh #fff,
    48vw 42vh #fff, 14vw 46vh #fff, 38vw 164vh #fff, 148vw 14vh #fff,
    42vw 152vh #fff, 40vw 196vh #fff, 128vw 20vh #fff, 160vw 178vh #fff,
    134vw 150vh #fff, 94vw 66vh #fff, 146vw 176vh #fff, 30vw 102vh #fff,
    200vw 38vh #fff, 160vw 84vh #fff, 92vw 142vh #fff, 70vw 142vh #fff,
    76vw 140vh #fff, 18vw 80vh #fff, 72vw 84vh #fff, 38vw 20vh #fff,
    102vw 30vh #fff, 64vw 56vh #fff, 98vw 194vh #fff, 48vw 170vh #fff,
    158vw 44vh #fff, 54vw 26vh #fff, 6vw 12vh #fff, 140vw 122vh #fff,
    122vw 146vh #fff, 60vw 154vh #fff, 94vw 106vh #fff, 94vw 142vh #fff,
    182vw 184vh #fff, 18vw 142vh #fff, 198vw 80vh #fff, 144vw 76vh #fff,
    50vw 60vh #fff, 74vw 148vh #fff, 162vw 180vh #fff, 114vw 198vh #fff,
    28vw 22vh #fff, 190vw 184vh #fff, 148vw 152vh #fff, 102vw 176vh #fff,
    126vw 144vh #fff, 4vw 108vh #fff, 56vw 24vh #fff, 42vw 90vh #fff,
    64vw 28vh #fff, 48vw 72vh #fff, 24vw 160vh #fff, 162vw 174vh #fff,
    36vw 60vh #fff, 102vw 80vh #fff, 200vw 192vh #fff, 76vw 180vh #fff,
    80vw 8vh #fff, 184vw 132vh #fff, 60vw 84vh #fff, 136vw 14vh #fff,
    136vw 144vh #fff, 138vw 60vh #fff, 58vw 154vh #fff, 58vw 98vh #fff,
    180vw 66vh #fff, 16vw 66vh #fff, 112vw 126vh #fff, 4vw 110vh #fff,
    150vw 168vh #fff, 92vw 6vh #fff, 186vw 94vh #fff, 176vw 152vh #fff,
    50vw 132vh #fff, 70vw 16vh #fff, 22vw 200vh #fff, 28vw 42vh #fff,
    94vw 176vh #fff, 14vw 200vh #fff, 50vw 116vh #fff, 110vw 108vh #fff,
    170vw 134vh #fff, 74vw 182vh #fff, 98vw 160vh #fff, 192vw 170vh #fff;
}

.stars2 {
  z-index: 2;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 98vw 52vh #fff, 154vw 122vh #fff, 144vw 68vh #fff, 30vw 102vh #fff,
    176vw 28vh #fff, 96vw 38vh #fff, 32vw 66vh #fff, 182vw 28vh #fff,
    28vw 144vh #fff, 124vw 64vh #fff, 18vw 82vh #fff, 84vw 144vh #fff,
    194vw 168vh #fff, 116vw 166vh #fff, 86vw 198vh #fff, 58vw 92vh #fff,
    102vw 58vh #fff, 90vw 98vh #fff, 120vw 46vh #fff, 88vw 126vh #fff,
    184vw 76vh #fff, 68vw 12vh #fff, 180vw 128vh #fff, 106vw 172vh #fff,
    88vw 74vh #fff, 160vw 190vh #fff, 20vw 36vh #fff, 16vw 68vh #fff,
    88vw 152vh #fff, 186vw 180vh #fff, 22vw 120vh #fff, 170vw 28vh #fff,
    44vw 136vh #fff, 90vw 64vh #fff, 10vw 102vh #fff, 56vw 14vh #fff,
    116vw 74vh #fff, 22vw 86vh #fff, 186vw 198vh #fff, 40vw 92vh #fff,
    30vw 194vh #fff, 68vw 168vh #fff, 26vw 138vh #fff, 86vw 28vh #fff,
    4vw 34vh #fff, 30vw 26vh #fff, 42vw 160vh #fff, 140vw 6vh #fff,
    30vw 146vh #fff, 120vw 18vh #fff, 76vw 102vh #fff, 46vw 94vh #fff,
    30vw 62vh #fff, 140vw 4vh #fff, 70vw 118vh #fff, 152vw 170vh #fff,
    58vw 28vh #fff, 150vw 144vh #fff, 80vw 28vh #fff, 190vw 116vh #fff,
    74vw 118vh #fff, 102vw 146vh #fff, 26vw 100vh #fff, 118vw 74vh #fff,
    80vw 34vh #fff, 146vw 44vh #fff, 62vw 52vh #fff, 150vw 162vh #fff,
    144vw 196vh #fff, 6vw 26vh #fff, 118vw 160vh #fff, 178vw 72vh #fff,
    14vw 120vh #fff, 166vw 180vh #fff, 158vw 70vh #fff, 186vw 8vh #fff,
    162vw 90vh #fff, 126vw 200vh #fff, 112vw 92vh #fff, 64vw 138vh #fff,
    36vw 148vh #fff, 160vw 114vh #fff, 64vw 70vh #fff, 180vw 28vh #fff,
    40vw 86vh #fff, 70vw 108vh #fff, 196vw 70vh #fff, 8vw 60vh #fff,
    44vw 184vh #fff, 196vw 38vh #fff, 12vw 86vh #fff, 168vw 166vh #fff,
    114vw 164vh #fff, 98vw 178vh #fff, 80vw 76vh #fff, 56vw 148vh #fff,
    130vw 184vh #fff, 118vw 164vh #fff, 54vw 26vh #fff, 172vw 100vh #fff,
    192vw 42vh #fff, 76vw 112vh #fff, 74vw 170vh #fff, 198vw 118vh #fff,
    168vw 186vh #fff, 22vw 162vh #fff, 160vw 44vh #fff, 56vw 140vh #fff,
    104vw 150vh #fff, 128vw 40vh #fff, 14vw 200vh #fff, 162vw 182vh #fff,
    4vw 12vh #fff, 76vw 142vh #fff, 152vw 152vh #fff, 68vw 10vh #fff,
    188vw 28vh #fff, 124vw 182vh #fff, 26vw 184vh #fff, 32vw 184vh #fff,
    200vw 114vh #fff, 156vw 88vh #fff, 24vw 18vh #fff, 178vw 92vh #fff,
    64vw 194vh #fff, 30vw 158vh #fff, 58vw 24vh #fff, 32vw 126vh #fff,
    194vw 6vh #fff, 38vw 152vh #fff, 44vw 152vh #fff, 180vw 72vh #fff,
    88vw 186vh #fff, 130vw 128vh #fff, 166vw 8vh #fff, 142vw 88vh #fff,
    50vw 70vh #fff, 36vw 158vh #fff, 52vw 188vh #fff, 160vw 166vh #fff,
    116vw 44vh #fff, 172vw 190vh #fff, 126vw 194vh #fff, 112vw 22vh #fff,
    192vw 68vh #fff, 38vw 80vh #fff, 114vw 148vh #fff, 186vw 176vh #fff,
    34vw 132vh #fff, 196vw 120vh #fff, 144vw 76vh #fff, 92vw 170vh #fff,
    174vw 64vh #fff, 44vw 94vh #fff, 80vw 20vh #fff, 192vw 22vh #fff,
    108vw 134vh #fff, 156vw 50vh #fff, 14vw 122vh #fff, 196vw 8vh #fff,
    100vw 46vh #fff, 162vw 44vh #fff, 18vw 22vh #fff, 182vw 166vh #fff,
    48vw 136vh #fff, 82vw 164vh #fff, 186vw 8vh #fff, 158vw 182vh #fff,
    120vw 38vh #fff, 34vw 108vh #fff, 182vw 156vh #fff, 60vw 16vh #fff,
    86vw 98vh #fff, 122vw 2vh #fff, 54vw 54vh #fff, 180vw 186vh #fff,
    48vw 106vh #fff, 54vw 152vh #fff, 166vw 160vh #fff, 68vw 144vh #fff,
    76vw 2vh #fff, 18vw 116vh #fff, 142vw 196vh #fff, 70vw 170vh #fff,
    16vw 62vh #fff, 126vw 104vh #fff, 164vw 158vh #fff, 162vw 88vh #fff,
    82vw 14vh #fff, 116vw 144vh #fff, 162vw 48vh #fff, 118vw 32vh #fff,
    66vw 194vh #fff, 162vw 132vh #fff, 74vw 94vh #fff, 110vw 106vh #fff,
    158vw 126vh #fff, 38vw 144vh #fff, 104vw 186vh #fff, 12vw 182vh #fff;
  animation: animStar 175s linear infinite, twinkleStar 4s ease-in-out infinite;
  animation-delay: 2s;
}
.stars2:after {
  content: ' ';
  top: -600px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 88vw 36vh #fff, 30vw 194vh #fff, 48vw 150vh #fff, 164vw 108vh #fff,
    94vw 34vh #fff, 38vw 36vh #fff, 198vw 156vh #fff, 4vw 48vh #fff,
    42vw 116vh #fff, 176vw 30vh #fff, 44vw 176vh #fff, 106vw 164vh #fff,
    20vw 164vh #fff, 42vw 150vh #fff, 140vw 44vh #fff, 176vw 60vh #fff,
    74vw 180vh #fff, 122vw 150vh #fff, 174vw 84vh #fff, 144vw 52vh #fff,
    30vw 126vh #fff, 164vw 84vh #fff, 140vw 106vh #fff, 50vw 36vh #fff,
    162vw 40vh #fff, 64vw 102vh #fff, 40vw 106vh #fff, 128vw 34vh #fff,
    128vw 80vh #fff, 68vw 164vh #fff, 102vw 20vh #fff, 184vw 118vh #fff,
    118vw 102vh #fff, 190vw 180vh #fff, 152vw 162vh #fff, 68vw 146vh #fff,
    26vw 90vh #fff, 126vw 174vh #fff, 48vw 130vh #fff, 114vw 132vh #fff,
    166vw 98vh #fff, 86vw 180vh #fff, 88vw 100vh #fff, 128vw 114vh #fff,
    112vw 114vh #fff, 172vw 156vh #fff, 86vw 98vh #fff, 4vw 32vh #fff,
    66vw 164vh #fff, 120vw 144vh #fff, 70vw 74vh #fff, 158vw 64vh #fff,
    6vw 48vh #fff, 66vw 138vh #fff, 164vw 164vh #fff, 130vw 102vh #fff,
    78vw 20vh #fff, 74vw 22vh #fff, 128vw 120vh #fff, 8vw 120vh #fff,
    80vw 88vh #fff, 38vw 82vh #fff, 28vw 114vh #fff, 54vw 104vh #fff,
    12vw 100vh #fff, 98vw 100vh #fff, 134vw 22vh #fff, 24vw 154vh #fff,
    48vw 112vh #fff, 124vw 18vh #fff, 118vw 108vh #fff, 26vw 2vh #fff,
    184vw 112vh #fff, 104vw 102vh #fff, 122vw 196vh #fff, 172vw 186vh #fff,
    110vw 102vh #fff, 196vw 122vh #fff, 64vw 136vh #fff, 60vw 164vh #fff,
    102vw 88vh #fff, 134vw 62vh #fff, 64vw 158vh #fff, 122vw 116vh #fff,
    174vw 88vh #fff, 110vw 102vh #fff, 104vw 118vh #fff, 96vw 70vh #fff,
    50vw 190vh #fff, 146vw 70vh #fff, 138vw 86vh #fff, 12vw 136vh #fff,
    180vw 184vh #fff, 130vw 22vh #fff, 80vw 24vh #fff, 196vw 132vh #fff,
    18vw 176vh #fff, 70vw 116vh #fff, 186vw 110vh #fff, 94vw 52vh #fff,
    158vw 60vh #fff, 12vw 38vh #fff, 24vw 148vh #fff, 116vw 40vh #fff,
    182vw 6vh #fff, 4vw 28vh #fff, 138vw 96vh #fff, 146vw 160vh #fff,
    20vw 196vh #fff, 32vw 42vh #fff, 156vw 30vh #fff, 30vw 168vh #fff,
    10vw 40vh #fff, 52vw 54vh #fff, 118vw 52vh #fff, 184vw 174vh #fff,
    82vw 178vh #fff, 172vw 100vh #fff, 76vw 148vh #fff, 60vw 108vh #fff,
    192vw 30vh #fff, 140vw 40vh #fff, 14vw 76vh #fff, 26vw 198vh #fff,
    84vw 138vh #fff, 30vw 104vh #fff, 24vw 18vh #fff, 124vw 130vh #fff,
    178vw 150vh #fff, 116vw 140vh #fff, 72vw 104vh #fff, 14vw 64vh #fff,
    32vw 186vh #fff, 38vw 148vh #fff, 124vw 108vh #fff, 20vw 146vh #fff,
    8vw 154vh #fff, 152vw 182vh #fff, 182vw 2vh #fff, 64vw 110vh #fff,
    28vw 162vh #fff, 58vw 98vh #fff, 168vw 196vh #fff, 136vw 160vh #fff,
    154vw 6vh #fff, 82vw 70vh #fff, 184vw 68vh #fff, 18vw 56vh #fff,
    118vw 198vh #fff, 48vw 70vh #fff, 76vw 116vh #fff, 126vw 142vh #fff,
    120vw 160vh #fff, 74vw 12vh #fff, 192vw 154vh #fff, 52vw 166vh #fff,
    90vw 48vh #fff, 6vw 32vh #fff, 76vw 44vh #fff, 132vw 26vh #fff,
    148vw 90vh #fff, 84vw 198vh #fff, 82vw 110vh #fff, 122vw 176vh #fff,
    138vw 176vh #fff, 78vw 150vh #fff, 60vw 184vh #fff, 178vw 136vh #fff,
    132vw 10vh #fff, 106vw 154vh #fff, 150vw 110vh #fff, 160vw 52vh #fff,
    160vw 182vh #fff, 158vw 174vh #fff, 70vw 106vh #fff, 196vw 60vh #fff,
    118vw 102vh #fff, 188vw 84vh #fff, 22vw 106vh #fff, 36vw 160vh #fff,
    192vw 172vh #fff, 102vw 58vh #fff, 150vw 154vh #fff, 172vw 28vh #fff,
    88vw 86vh #fff, 194vw 4vh #fff, 134vw 166vh #fff, 76vw 90vh #fff,
    72vw 12vh #fff, 170vw 2vh #fff, 152vw 168vh #fff, 30vw 106vh #fff,
    190vw 36vh #fff, 88vw 36vh #fff, 196vw 80vh #fff, 36vw 82vh #fff,
    106vw 132vh #fff, 12vw 154vh #fff, 192vw 192vh #fff, 96vw 196vh #fff;
}

.stars3 {
  z-index: 2;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 112vw 192vh #fff, 138vw 74vh #fff, 18vw 68vh #fff, 130vw 30vh #fff,
    178vw 118vh #fff, 132vw 110vh #fff, 144vw 58vh #fff, 134vw 188vh #fff,
    198vw 124vh #fff, 60vw 24vh #fff, 88vw 18vh #fff, 192vw 178vh #fff,
    64vw 26vh #fff, 58vw 120vh #fff, 184vw 76vh #fff, 72vw 58vh #fff,
    122vw 166vh #fff, 176vw 172vh #fff, 90vw 82vh #fff, 6vw 164vh #fff,
    48vw 42vh #fff, 8vw 28vh #fff, 144vw 186vh #fff, 196vw 28vh #fff,
    160vw 92vh #fff, 178vw 154vh #fff, 136vw 8vh #fff, 192vw 4vh #fff,
    154vw 104vh #fff, 6vw 172vh #fff, 200vw 122vh #fff, 66vw 46vh #fff,
    148vw 180vh #fff, 44vw 112vh #fff, 54vw 34vh #fff, 36vw 70vh #fff,
    180vw 128vh #fff, 86vw 142vh #fff, 198vw 70vh #fff, 144vw 108vh #fff,
    116vw 108vh #fff, 154vw 166vh #fff, 178vw 146vh #fff, 144vw 188vh #fff,
    146vw 102vh #fff, 194vw 16vh #fff, 20vw 60vh #fff, 134vw 54vh #fff,
    160vw 12vh #fff, 76vw 126vh #fff, 188vw 104vh #fff, 178vw 126vh #fff,
    42vw 62vh #fff, 32vw 184vh #fff, 180vw 112vh #fff, 146vw 122vh #fff,
    138vw 118vh #fff, 152vw 98vh #fff, 54vw 134vh #fff, 110vw 126vh #fff,
    78vw 124vh #fff, 54vw 46vh #fff, 6vw 60vh #fff, 82vw 24vh #fff,
    192vw 74vh #fff, 178vw 66vh #fff, 74vw 54vh #fff, 118vw 10vh #fff,
    126vw 88vh #fff, 74vw 96vh #fff, 18vw 4vh #fff, 132vw 34vh #fff,
    138vw 126vh #fff, 38vw 70vh #fff, 56vw 200vh #fff, 76vw 154vh #fff,
    92vw 92vh #fff, 100vw 130vh #fff, 122vw 128vh #fff, 30vw 94vh #fff,
    48vw 72vh #fff, 66vw 26vh #fff, 126vw 60vh #fff, 98vw 42vh #fff,
    54vw 120vh #fff, 192vw 154vh #fff, 128vw 48vh #fff, 166vw 162vh #fff,
    100vw 96vh #fff, 124vw 16vh #fff, 76vw 166vh #fff, 24vw 44vh #fff,
    6vw 22vh #fff, 98vw 14vh #fff, 122vw 148vh #fff, 134vw 12vh #fff,
    114vw 60vh #fff, 122vw 172vh #fff, 82vw 188vh #fff, 30vw 190vh #fff,
    34vw 152vh #fff, 64vw 200vh #fff, 68vw 14vh #fff, 170vw 42vh #fff,
    196vw 16vh #fff, 130vw 162vh #fff, 104vw 30vh #fff, 180vw 112vh #fff,
    86vw 144vh #fff, 156vw 112vh #fff, 58vw 40vh #fff, 134vw 88vh #fff,
    170vw 62vh #fff, 78vw 2vh #fff, 68vw 148vh #fff, 194vw 30vh #fff,
    88vw 124vh #fff, 24vw 180vh #fff, 162vw 48vh #fff, 178vw 10vh #fff,
    150vw 108vh #fff, 34vw 200vh #fff, 178vw 52vh #fff, 178vw 190vh #fff,
    66vw 44vh #fff, 2vw 42vh #fff, 82vw 92vh #fff, 6vw 100vh #fff,
    92vw 130vh #fff, 168vw 96vh #fff, 152vw 20vh #fff, 60vw 188vh #fff,
    158vw 174vh #fff, 76vw 12vh #fff, 110vw 76vh #fff, 64vw 54vh #fff,
    74vw 86vh #fff, 12vw 84vh #fff, 138vw 186vh #fff, 98vw 186vh #fff,
    82vw 86vh #fff, 14vw 158vh #fff, 152vw 98vh #fff, 180vw 38vh #fff,
    116vw 98vh #fff, 156vw 2vh #fff, 142vw 144vh #fff, 106vw 134vh #fff,
    174vw 16vh #fff, 74vw 100vh #fff;
  animation: animStar 200s linear infinite, twinkleStar 4s ease-in-out infinite;
}
.stars3:after {
  content: ' ';
  top: -600px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 28vw 108vh #fff, 72vw 60vh #fff, 40vw 20vh #fff, 108vw 114vh #fff,
    80vw 62vh #fff, 88vw 112vh #fff, 182vw 10vh #fff, 148vw 102vh #fff,
    164vw 114vh #fff, 52vw 124vh #fff, 44vw 146vh #fff, 74vw 92vh #fff,
    58vw 100vh #fff, 192vw 108vh #fff, 118vw 118vh #fff, 138vw 42vh #fff,
    196vw 90vh #fff, 134vw 104vh #fff, 10vw 40vh #fff, 54vw 188vh #fff,
    10vw 80vh #fff, 98vw 52vh #fff, 100vw 46vh #fff, 78vw 40vh #fff,
    184vw 158vh #fff, 104vw 56vh #fff, 54vw 50vh #fff, 38vw 192vh #fff,
    124vw 142vh #fff, 142vw 18vh #fff, 132vw 18vh #fff, 196vw 48vh #fff,
    190vw 16vh #fff, 122vw 58vh #fff, 110vw 68vh #fff, 72vw 78vh #fff,
    112vw 48vh #fff, 190vw 18vh #fff, 32vw 178vh #fff, 48vw 154vh #fff,
    130vw 70vh #fff, 138vw 100vh #fff, 20vw 174vh #fff, 32vw 68vh #fff,
    130vw 82vh #fff, 160vw 44vh #fff, 102vw 24vh #fff, 164vw 148vh #fff,
    118vw 188vh #fff, 44vw 88vh #fff, 62vw 94vh #fff, 106vw 182vh #fff,
    28vw 74vh #fff, 54vw 74vh #fff, 118vw 186vh #fff, 136vw 86vh #fff,
    172vw 160vh #fff, 82vw 142vh #fff, 4vw 144vh #fff, 176vw 76vh #fff,
    118vw 200vh #fff, 52vw 4vh #fff, 172vw 152vh #fff, 176vw 138vh #fff,
    18vw 136vh #fff, 92vw 190vh #fff, 42vw 106vh #fff, 42vw 24vh #fff,
    192vw 166vh #fff, 200vw 108vh #fff, 178vw 70vh #fff, 20vw 178vh #fff,
    78vw 2vh #fff, 42vw 94vh #fff, 88vw 48vh #fff, 112vw 68vh #fff,
    158vw 10vh #fff, 108vw 154vh #fff, 116vw 100vh #fff, 26vw 96vh #fff,
    66vw 44vh #fff, 42vw 160vh #fff, 42vw 8vh #fff, 90vw 18vh #fff,
    176vw 100vh #fff, 50vw 90vh #fff, 162vw 6vh #fff, 26vw 176vh #fff,
    38vw 118vh #fff, 46vw 132vh #fff, 190vw 42vh #fff, 28vw 30vh #fff,
    94vw 176vh #fff, 180vw 102vh #fff, 106vw 76vh #fff, 48vw 146vh #fff,
    150vw 4vh #fff, 144vw 94vh #fff, 34vw 128vh #fff, 138vw 150vh #fff,
    200vw 100vh #fff, 144vw 194vh #fff, 118vw 98vh #fff, 188vw 130vh #fff,
    6vw 48vh #fff, 26vw 198vh #fff, 44vw 24vh #fff, 24vw 8vh #fff,
    188vw 64vh #fff, 166vw 130vh #fff, 60vw 80vh #fff, 182vw 198vh #fff,
    44vw 140vh #fff, 6vw 6vh #fff, 184vw 154vh #fff, 134vw 180vh #fff,
    172vw 60vh #fff, 30vw 176vh #fff, 184vw 94vh #fff, 102vw 164vh #fff,
    162vw 70vh #fff, 124vw 32vh #fff, 24vw 136vh #fff, 166vw 168vh #fff,
    118vw 90vh #fff, 144vw 18vh #fff, 86vw 176vh #fff, 196vw 200vh #fff,
    20vw 70vh #fff, 88vw 62vh #fff, 16vw 150vh #fff, 188vw 98vh #fff,
    142vw 154vh #fff, 56vw 24vh #fff, 102vw 138vh #fff, 142vw 192vh #fff,
    112vw 200vh #fff, 180vw 20vh #fff, 30vw 60vh #fff, 162vw 98vh #fff,
    32vw 50vh #fff, 142vw 84vh #fff, 166vw 96vh #fff, 68vw 44vh #fff,
    180vw 28vh #fff, 72vw 126vh #fff, 24vw 182vh #fff, 122vw 54vh #fff,
    80vw 116vh #fff, 46vw 64vh #fff;
} /*# sourceMappingURL=index.css.map */
