body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #201c2f;
  font-family: 'Roboto';
}

h2 {
  font-size: 25px;
}

@media (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
}
.portfolio-banner {
  z-index: 1;
  color: #d6e1ff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content .banner-image,
.banner-content .banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.banner-content .banner-text {
  width: 60%;
}
.banner-content .banner-image {
  width: 40%;
}

@media (max-width: 1024px) {
  .banner-content {
    flex-direction: column;
  }
  .banner-text,
  .banner-image {
    width: 100%;
  }
}
.main-container {
  z-index: 1;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #201c2f 0%, #100751 100%);
  overflow: hidden;
}

@keyframes animStar {
  from {
    transform: translateY(0px) translateX(0px);
  }
  to {
    transform: translateY(-100vh) translateX(-100vw);
  }
}
@keyframes twinkleStar {
  25% {
    opacity: 0.1;
  }
}
.fixedStars1 {
  z-index: 2;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 180vw 30vh #fff, 120vw 188vh #fff, 88vw 10vh #fff,
    136vw 134vh #fff, 110vw 6vh #fff, 78vw 32vh #fff, 126vw 28vh #fff,
    144vw 42vh #fff, 98vw 92vh #fff, 120vw 72vh #fff, 196vw 132vh #fff,
    108vw 118vh #fff, 112vw 44vh #fff, 56vw 182vh #fff, 106vw 74vh #fff,
    192vw 170vh #fff, 62vw 24vh #fff, 8vw 30vh #fff, 26vw 10vh #fff,
    126vw 188vh #fff, 180vw 60vh #fff, 158vw 172vh #fff, 186vw 172vh #fff,
    198vw 100vh #fff, 200vw 26vh #fff, 114vw 6vh #fff, 50vw 200vh #fff,
    152vw 94vh #fff, 118vw 176vh #fff, 54vw 84vh #fff, 106vw 142vh #fff,
    132vw 128vh #fff, 76vw 50vh #fff, 98vw 38vh #fff, 126vw 36vh #fff,
    112vw 158vh #fff, 42vw 188vh #fff, 32vw 94vh #fff, 134vw 10vh #fff,
    186vw 70vh #fff, 192vw 144vh #fff, 176vw 38vh #fff, 96vw 150vh #fff,
    20vw 108vh #fff, 44vw 148vh #fff, 156vw 132vh #fff, 30vw 66vh #fff,
    126vw 194vh #fff, 164vw 44vh #fff, 166vw 196vh #fff, 48vw 92vh #fff,
    36vw 168vh #fff, 62vw 158vh #fff, 120vw 50vh #fff, 164vw 158vh #fff,
    172vw 90vh #fff, 98vw 110vh #fff, 128vw 132vh #fff, 68vw 138vh #fff,
    22vw 200vh #fff, 148vw 116vh #fff, 186vw 78vh #fff, 88vw 12vh #fff,
    112vw 196vh #fff, 190vw 72vh #fff, 96vw 184vh #fff, 36vw 170vh #fff,
    106vw 194vh #fff, 120vw 178vh #fff, 4vw 136vh #fff, 56vw 134vh #fff,
    16vw 118vh #fff, 182vw 120vh #fff, 108vw 64vh #fff, 34vw 178vh #fff,
    76vw 70vh #fff, 40vw 128vh #fff, 100vw 16vh #fff, 176vw 26vh #fff,
    74vw 166vh #fff, 174vw 168vh #fff, 66vw 24vh #fff, 122vw 48vh #fff,
    178vw 148vh #fff, 190vw 166vh #fff, 110vw 198vh #fff, 138vw 98vh #fff,
    34vw 64vh #fff, 134vw 198vh #fff, 120vw 38vh #fff, 24vw 10vh #fff,
    200vw 160vh #fff, 84vw 70vh #fff, 88vw 138vh #fff, 170vw 98vh #fff,
    80vw 124vh #fff, 104vw 116vh #fff, 70vw 116vh #fff, 64vw 170vh #fff,
    178vw 154vh #fff;
  animation: twinkleStar 4s ease-in-out infinite;
  animation-delay: 2s;
}
.fixedStars1:after {
  content: ' ';
  top: -600px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 36vw 42vh #fff, 38vw 34vh #fff, 178vw 138vh #fff, 168vw 58vh #fff,
    30vw 28vh #fff, 46vw 124vh #fff, 110vw 134vh #fff, 108vw 48vh #fff,
    32vw 82vh #fff, 124vw 52vh #fff, 112vw 126vh #fff, 130vw 174vh #fff,
    94vw 60vh #fff, 142vw 4vh #fff, 114vw 164vh #fff, 18vw 38vh #fff,
    44vw 130vh #fff, 100vw 14vh #fff, 146vw 92vh #fff, 20vw 124vh #fff,
    188vw 184vh #fff, 12vw 42vh #fff, 176vw 62vh #fff, 84vw 126vh #fff,
    8vw 116vh #fff, 72vw 76vh #fff, 128vw 152vh #fff, 96vw 176vh #fff,
    46vw 108vh #fff, 88vw 92vh #fff, 162vw 94vh #fff, 140vw 50vh #fff,
    110vw 142vh #fff, 190vw 134vh #fff, 136vw 188vh #fff, 82vw 190vh #fff,
    108vw 160vh #fff, 154vw 114vh #fff, 184vw 116vh #fff, 80vw 118vh #fff,
    182vw 178vh #fff, 174vw 36vh #fff, 152vw 54vh #fff, 132vw 162vh #fff,
    94vw 186vh #fff, 78vw 104vh #fff, 148vw 198vh #fff, 78vw 166vh #fff,
    48vw 168vh #fff, 162vw 18vh #fff, 52vw 94vh #fff, 108vw 192vh #fff,
    64vw 106vh #fff, 24vw 140vh #fff, 124vw 136vh #fff, 90vw 12vh #fff,
    66vw 192vh #fff, 84vw 152vh #fff, 56vw 94vh #fff, 64vw 150vh #fff,
    184vw 114vh #fff, 70vw 126vh #fff, 32vw 114vh #fff, 58vw 4vh #fff,
    10vw 136vh #fff, 178vw 154vh #fff, 26vw 48vh #fff, 102vw 146vh #fff,
    110vw 72vh #fff, 196vw 66vh #fff, 146vw 118vh #fff, 146vw 100vh #fff,
    82vw 198vh #fff, 10vw 22vh #fff, 40vw 102vh #fff, 182vw 142vh #fff,
    116vw 106vh #fff, 106vw 168vh #fff, 78vw 170vh #fff, 194vw 134vh #fff,
    90vw 164vh #fff, 174vw 66vh #fff, 180vw 74vh #fff, 190vw 144vh #fff,
    50vw 86vh #fff, 82vw 26vh #fff, 132vw 64vh #fff, 164vw 84vh #fff,
    48vw 58vh #fff, 114vw 98vh #fff, 156vw 160vh #fff, 60vw 14vh #fff,
    66vw 24vh #fff, 86vw 172vh #fff, 66vw 76vh #fff, 46vw 188vh #fff,
    140vw 118vh #fff, 180vw 28vh #fff, 54vw 10vh #fff, 38vw 82vh #fff;
}

.fixedStars2 {
  z-index: 2;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 8vw 196vh #fff, 68vw 18vh #fff, 154vw 100vh #fff, 200vw 70vh #fff,
    80vw 8vh #fff, 94vw 142vh #fff, 154vw 196vh #fff, 2vw 54vh #fff,
    150vw 86vh #fff, 2vw 6vh #fff, 54vw 50vh #fff, 26vw 114vh #fff,
    70vw 152vh #fff, 32vw 144vh #fff, 148vw 146vh #fff, 112vw 12vh #fff,
    136vw 102vh #fff, 112vw 124vh #fff, 164vw 168vh #fff, 138vw 2vh #fff,
    16vw 56vh #fff, 38vw 6vh #fff, 100vw 94vh #fff, 26vw 192vh #fff,
    110vw 170vh #fff, 162vw 50vh #fff, 138vw 16vh #fff, 116vw 158vh #fff,
    76vw 176vh #fff, 40vw 80vh #fff, 180vw 26vh #fff, 14vw 108vh #fff,
    108vw 126vh #fff, 114vw 134vh #fff, 148vw 170vh #fff, 134vw 166vh #fff,
    138vw 80vh #fff, 140vw 42vh #fff, 150vw 102vh #fff, 200vw 196vh #fff,
    166vw 134vh #fff, 144vw 6vh #fff, 182vw 44vh #fff, 164vw 6vh #fff,
    174vw 6vh #fff, 156vw 96vh #fff, 64vw 66vh #fff, 158vw 164vh #fff,
    198vw 12vh #fff, 140vw 170vh #fff, 170vw 16vh #fff, 188vw 38vh #fff,
    28vw 138vh #fff, 186vw 52vh #fff, 156vw 200vh #fff, 60vw 50vh #fff,
    88vw 90vh #fff, 28vw 102vh #fff, 28vw 144vh #fff, 46vw 22vh #fff,
    146vw 124vh #fff, 64vw 74vh #fff, 176vw 166vh #fff, 160vw 8vh #fff,
    38vw 156vh #fff, 26vw 100vh #fff, 36vw 6vh #fff, 80vw 128vh #fff,
    112vw 198vh #fff, 170vw 66vh #fff, 192vw 118vh #fff, 130vw 146vh #fff,
    168vw 168vh #fff, 124vw 198vh #fff, 154vw 170vh #fff, 172vw 84vh #fff,
    50vw 126vh #fff, 82vw 186vh #fff, 10vw 80vh #fff, 172vw 182vh #fff,
    62vw 10vh #fff, 184vw 92vh #fff, 128vw 52vh #fff, 22vw 20vh #fff,
    200vw 92vh #fff, 72vw 98vh #fff, 182vw 2vh #fff, 60vw 182vh #fff,
    90vw 190vh #fff, 10vw 80vh #fff, 86vw 110vh #fff, 98vw 146vh #fff,
    26vw 70vh #fff, 20vw 72vh #fff, 38vw 24vh #fff, 124vw 180vh #fff,
    178vw 72vh #fff, 58vw 50vh #fff, 128vw 18vh #fff, 60vw 182vh #fff;
  animation: twinkleStar 4s ease-in-out infinite;
  animation-delay: 1s;
}
.fixedStars2:after {
  content: ' ';
  top: -600px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 32vw 70vh #fff, 30vw 110vh #fff, 76vw 48vh #fff, 94vw 28vh #fff,
    140vw 132vh #fff, 176vw 198vh #fff, 188vw 198vh #fff, 4vw 170vh #fff,
    14vw 18vh #fff, 120vw 142vh #fff, 8vw 140vh #fff, 92vw 38vh #fff,
    50vw 128vh #fff, 78vw 16vh #fff, 100vw 100vh #fff, 68vw 194vh #fff,
    46vw 188vh #fff, 76vw 146vh #fff, 74vw 180vh #fff, 112vw 86vh #fff,
    164vw 58vh #fff, 184vw 2vh #fff, 76vw 80vh #fff, 56vw 146vh #fff,
    176vw 118vh #fff, 44vw 192vh #fff, 104vw 144vh #fff, 84vw 16vh #fff,
    140vw 48vh #fff, 162vw 184vh #fff, 166vw 22vh #fff, 132vw 182vh #fff,
    70vw 42vh #fff, 54vw 168vh #fff, 34vw 148vh #fff, 26vw 122vh #fff,
    94vw 48vh #fff, 124vw 126vh #fff, 190vw 76vh #fff, 6vw 98vh #fff,
    178vw 114vh #fff, 38vw 192vh #fff, 172vw 158vh #fff, 198vw 104vh #fff,
    172vw 164vh #fff, 180vw 116vh #fff, 168vw 24vh #fff, 130vw 18vh #fff,
    154vw 14vh #fff, 154vw 160vh #fff, 116vw 78vh #fff, 72vw 2vh #fff,
    158vw 66vh #fff, 2vw 128vh #fff, 102vw 148vh #fff, 168vw 18vh #fff,
    114vw 34vh #fff, 56vw 52vh #fff, 150vw 82vh #fff, 60vw 124vh #fff,
    36vw 78vh #fff, 152vw 6vh #fff, 158vw 118vh #fff, 56vw 24vh #fff,
    192vw 94vh #fff, 68vw 60vh #fff, 178vw 48vh #fff, 190vw 50vh #fff,
    40vw 190vh #fff, 112vw 168vh #fff, 14vw 180vh #fff, 24vw 66vh #fff,
    130vw 120vh #fff, 114vw 178vh #fff, 122vw 120vh #fff, 34vw 44vh #fff,
    148vw 70vh #fff, 168vw 110vh #fff, 86vw 114vh #fff, 60vw 110vh #fff,
    200vw 144vh #fff, 98vw 72vh #fff, 150vw 70vh #fff, 84vw 96vh #fff,
    192vw 72vh #fff, 148vw 158vh #fff, 66vw 10vh #fff, 176vw 102vh #fff,
    98vw 140vh #fff, 26vw 20vh #fff, 152vw 70vh #fff, 122vw 166vh #fff,
    24vw 170vh #fff, 86vw 12vh #fff, 166vw 74vh #fff, 114vw 46vh #fff,
    164vw 48vh #fff, 180vw 114vh #fff, 4vw 88vh #fff, 22vw 194vh #fff;
}

.fixedStars3 {
  z-index: 2;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 172vw 130vh #fff, 72vw 66vh #fff, 194vw 88vh #fff, 54vw 82vh #fff,
    4vw 184vh #fff, 194vw 174vh #fff, 188vw 46vh #fff, 186vw 124vh #fff,
    106vw 14vh #fff, 194vw 88vh #fff, 24vw 140vh #fff, 190vw 56vh #fff,
    98vw 132vh #fff, 98vw 132vh #fff, 8vw 10vh #fff, 148vw 156vh #fff,
    152vw 118vh #fff, 26vw 24vh #fff, 152vw 196vh #fff, 154vw 98vh #fff,
    120vw 68vh #fff, 174vw 80vh #fff, 170vw 22vh #fff, 70vw 46vh #fff,
    102vw 166vh #fff, 28vw 4vh #fff, 158vw 70vh #fff, 8vw 122vh #fff,
    24vw 52vh #fff, 58vw 104vh #fff, 186vw 128vh #fff, 2vw 196vh #fff,
    192vw 52vh #fff, 154vw 98vh #fff, 74vw 98vh #fff, 116vw 146vh #fff,
    174vw 144vh #fff, 74vw 108vh #fff, 26vw 28vh #fff, 82vw 192vh #fff,
    82vw 122vh #fff, 18vw 156vh #fff, 34vw 120vh #fff, 12vw 198vh #fff,
    158vw 30vh #fff, 154vw 88vh #fff, 102vw 130vh #fff, 84vw 102vh #fff,
    72vw 60vh #fff, 190vw 128vh #fff, 90vw 162vh #fff, 166vw 14vh #fff,
    42vw 26vh #fff, 92vw 20vh #fff, 152vw 160vh #fff, 66vw 90vh #fff,
    62vw 72vh #fff, 146vw 52vh #fff, 136vw 64vh #fff, 20vw 166vh #fff,
    10vw 64vh #fff, 6vw 56vh #fff, 196vw 172vh #fff, 76vw 84vh #fff,
    164vw 172vh #fff, 98vw 102vh #fff, 16vw 154vh #fff, 78vw 154vh #fff,
    134vw 148vh #fff, 50vw 148vh #fff, 92vw 62vh #fff, 178vw 44vh #fff,
    44vw 8vh #fff, 182vw 94vh #fff, 58vw 82vh #fff, 118vw 110vh #fff,
    114vw 50vh #fff, 20vw 80vh #fff, 130vw 194vh #fff, 192vw 128vh #fff,
    140vw 184vh #fff, 160vw 112vh #fff, 60vw 104vh #fff, 60vw 118vh #fff,
    24vw 12vh #fff, 56vw 56vh #fff, 22vw 136vh #fff, 68vw 78vh #fff,
    152vw 32vh #fff, 128vw 38vh #fff, 128vw 94vh #fff, 20vw 28vh #fff,
    28vw 128vh #fff, 22vw 104vh #fff, 76vw 134vh #fff, 22vw 46vh #fff,
    158vw 10vh #fff, 198vw 152vh #fff, 144vw 98vh #fff, 136vw 178vh #fff;
  animation: twinkleStar 4s ease-in-out infinite;
}
.fixedStars3:after {
  content: ' ';
  top: -600px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 154vw 106vh #fff, 164vw 96vh #fff, 8vw 94vh #fff, 150vw 158vh #fff,
    38vw 198vh #fff, 162vw 196vh #fff, 152vw 82vh #fff, 182vw 146vh #fff,
    28vw 84vh #fff, 80vw 14vh #fff, 10vw 26vh #fff, 20vw 164vh #fff,
    42vw 200vh #fff, 26vw 42vh #fff, 128vw 78vh #fff, 112vw 112vh #fff,
    106vw 82vh #fff, 126vw 152vh #fff, 8vw 50vh #fff, 102vw 192vh #fff,
    64vw 192vh #fff, 158vw 144vh #fff, 196vw 90vh #fff, 182vw 46vh #fff,
    168vw 60vh #fff, 138vw 118vh #fff, 80vw 52vh #fff, 118vw 18vh #fff,
    24vw 120vh #fff, 190vw 26vh #fff, 8vw 98vh #fff, 88vw 182vh #fff,
    132vw 100vh #fff, 66vw 18vh #fff, 148vw 148vh #fff, 68vw 178vh #fff,
    170vw 184vh #fff, 98vw 60vh #fff, 108vw 58vh #fff, 24vw 48vh #fff,
    86vw 40vh #fff, 2vw 188vh #fff, 42vw 42vh #fff, 56vw 134vh #fff,
    180vw 50vh #fff, 68vw 140vh #fff, 184vw 22vh #fff, 28vw 116vh #fff,
    4vw 78vh #fff, 194vw 158vh #fff, 64vw 104vh #fff, 180vw 166vh #fff,
    100vw 114vh #fff, 36vw 184vh #fff, 26vw 32vh #fff, 152vw 164vh #fff,
    196vw 166vh #fff, 58vw 18vh #fff, 174vw 114vh #fff, 200vw 96vh #fff,
    154vw 138vh #fff, 152vw 118vh #fff, 56vw 76vh #fff, 186vw 174vh #fff,
    192vw 156vh #fff, 156vw 160vh #fff, 124vw 2vh #fff, 34vw 36vh #fff,
    200vw 84vh #fff, 78vw 178vh #fff, 158vw 60vh #fff, 40vw 50vh #fff,
    40vw 122vh #fff, 164vw 4vh #fff, 74vw 38vh #fff, 44vw 190vh #fff,
    4vw 192vh #fff, 138vw 104vh #fff, 126vw 164vh #fff, 166vw 186vh #fff,
    128vw 54vh #fff, 46vw 94vh #fff, 44vw 76vh #fff, 32vw 194vh #fff,
    6vw 184vh #fff, 162vw 154vh #fff, 70vw 46vh #fff, 42vw 50vh #fff,
    66vw 62vh #fff, 120vw 112vh #fff, 148vw 134vh #fff, 76vw 4vh #fff,
    12vw 12vh #fff, 66vw 106vh #fff, 136vw 158vh #fff, 96vw 88vh #fff,
    6vw 186vh #fff, 116vw 190vh #fff, 194vw 72vh #fff, 10vw 96vh #fff;
}

.stars1 {
  z-index: 2;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 132vw 122vh #fff, 154vw 176vh #fff, 18vw 78vh #fff,
    192vw 150vh #fff, 136vw 176vh #fff, 78vw 156vh #fff, 130vw 44vh #fff,
    146vw 192vh #fff, 172vw 138vh #fff, 86vw 144vh #fff, 110vw 18vh #fff,
    130vw 152vh #fff, 14vw 112vh #fff, 78vw 4vh #fff, 64vw 186vh #fff,
    16vw 132vh #fff, 54vw 68vh #fff, 4vw 194vh #fff, 44vw 62vh #fff,
    162vw 88vh #fff, 62vw 170vh #fff, 12vw 82vh #fff, 20vw 10vh #fff,
    200vw 172vh #fff, 118vw 48vh #fff, 76vw 154vh #fff, 144vw 60vh #fff,
    96vw 6vh #fff, 18vw 122vh #fff, 20vw 6vh #fff, 156vw 52vh #fff,
    166vw 114vh #fff, 170vw 148vh #fff, 116vw 134vh #fff, 182vw 138vh #fff,
    104vw 126vh #fff, 122vw 174vh #fff, 158vw 8vh #fff, 54vw 198vh #fff,
    8vw 48vh #fff, 2vw 108vh #fff, 180vw 88vh #fff, 30vw 200vh #fff,
    176vw 162vh #fff, 24vw 78vh #fff, 132vw 188vh #fff, 26vw 32vh #fff,
    150vw 162vh #fff, 114vw 144vh #fff, 64vw 148vh #fff, 10vw 22vh #fff,
    186vw 10vh #fff, 100vw 186vh #fff, 54vw 32vh #fff, 34vw 174vh #fff,
    100vw 116vh #fff, 12vw 78vh #fff, 112vw 150vh #fff, 52vw 182vh #fff,
    150vw 80vh #fff, 106vw 74vh #fff, 34vw 48vh #fff, 42vw 42vh #fff,
    160vw 158vh #fff, 22vw 184vh #fff, 50vw 60vh #fff, 150vw 90vh #fff,
    56vw 82vh #fff, 112vw 46vh #fff, 42vw 132vh #fff, 130vw 92vh #fff,
    34vw 48vh #fff, 164vw 108vh #fff, 118vw 118vh #fff, 94vw 170vh #fff,
    146vw 48vh #fff, 178vw 4vh #fff, 68vw 50vh #fff, 162vw 200vh #fff,
    178vw 8vh #fff, 62vw 44vh #fff, 88vw 178vh #fff, 146vw 18vh #fff,
    150vw 154vh #fff, 142vw 154vh #fff, 118vw 62vh #fff, 4vw 78vh #fff,
    78vw 160vh #fff, 184vw 186vh #fff, 148vw 48vh #fff, 118vw 126vh #fff,
    150vw 10vh #fff, 142vw 148vh #fff, 130vw 8vh #fff, 4vw 78vh #fff,
    162vw 130vh #fff, 110vw 192vh #fff, 104vw 54vh #fff, 164vw 64vh #fff,
    180vw 190vh #fff, 150vw 142vh #fff, 128vw 162vh #fff, 90vw 134vh #fff,
    194vw 172vh #fff, 136vw 60vh #fff, 2vw 2vh #fff, 8vw 112vh #fff,
    116vw 116vh #fff, 10vw 194vh #fff, 16vw 160vh #fff, 194vw 128vh #fff,
    50vw 96vh #fff, 200vw 158vh #fff, 28vw 138vh #fff, 172vw 8vh #fff,
    42vw 168vh #fff, 138vw 152vh #fff, 112vw 38vh #fff, 102vw 166vh #fff,
    124vw 120vh #fff, 162vw 180vh #fff, 32vw 82vh #fff, 26vw 24vh #fff,
    196vw 200vh #fff, 200vw 192vh #fff, 200vw 20vh #fff, 144vw 72vh #fff,
    134vw 166vh #fff, 136vw 64vh #fff, 186vw 42vh #fff, 40vw 150vh #fff,
    58vw 32vh #fff, 104vw 68vh #fff, 76vw 30vh #fff, 96vw 104vh #fff,
    58vw 34vh #fff, 116vw 148vh #fff, 34vw 4vh #fff, 200vw 86vh #fff,
    14vw 88vh #fff, 14vw 166vh #fff, 60vw 154vh #fff, 74vw 182vh #fff,
    36vw 144vh #fff, 86vw 26vh #fff, 52vw 48vh #fff, 100vw 198vh #fff,
    184vw 2vh #fff, 106vw 42vh #fff, 184vw 102vh #fff, 86vw 72vh #fff,
    28vw 170vh #fff, 194vw 132vh #fff, 78vw 10vh #fff, 8vw 34vh #fff,
    158vw 34vh #fff, 158vw 106vh #fff, 44vw 62vh #fff, 14vw 84vh #fff,
    34vw 58vh #fff, 78vw 198vh #fff, 146vw 12vh #fff, 128vw 16vh #fff,
    92vw 178vh #fff, 122vw 22vh #fff, 168vw 152vh #fff, 72vw 6vh #fff,
    20vw 106vh #fff, 198vw 112vh #fff, 140vw 100vh #fff, 158vw 106vh #fff,
    100vw 8vh #fff, 122vw 148vh #fff, 12vw 148vh #fff, 62vw 110vh #fff,
    164vw 80vh #fff, 48vw 26vh #fff, 60vw 196vh #fff, 12vw 82vh #fff,
    108vw 38vh #fff, 64vw 30vh #fff, 86vw 160vh #fff, 118vw 116vh #fff,
    4vw 116vh #fff, 82vw 190vh #fff, 16vw 44vh #fff, 4vw 22vh #fff,
    104vw 20vh #fff, 76vw 24vh #fff, 24vw 86vh #fff, 10vw 148vh #fff,
    188vw 130vh #fff, 168vw 184vh #fff, 80vw 18vh #fff, 2vw 52vh #fff,
    190vw 148vh #fff, 194vw 106vh #fff, 40vw 108vh #fff, 130vw 184vh #fff,
    116vw 160vh #fff, 90vw 8vh #fff, 84vw 120vh #fff, 60vw 144vh #fff,
    108vw 86vh #fff, 24vw 48vh #fff, 56vw 120vh #fff, 38vw 128vh #fff,
    18vw 118vh #fff, 144vw 190vh #fff, 132vw 34vh #fff, 94vw 88vh #fff,
    172vw 140vh #fff, 200vw 40vh #fff, 130vw 102vh #fff, 144vw 152vh #fff,
    108vw 190vh #fff, 16vw 184vh #fff, 82vw 2vh #fff, 92vw 124vh #fff,
    174vw 22vh #fff, 42vw 54vh #fff, 110vw 164vh #fff, 8vw 64vh #fff,
    10vw 78vh #fff, 172vw 44vh #fff, 112vw 92vh #fff, 76vw 154vh #fff,
    164vw 36vh #fff, 146vw 154vh #fff, 92vw 154vh #fff, 138vw 82vh #fff,
    8vw 192vh #fff, 36vw 116vh #fff, 128vw 134vh #fff, 10vw 168vh #fff,
    48vw 154vh #fff, 162vw 2vh #fff, 130vw 86vh #fff, 114vw 162vh #fff,
    68vw 116vh #fff, 58vw 38vh #fff, 136vw 4vh #fff, 148vw 2vh #fff,
    144vw 38vh #fff, 176vw 200vh #fff, 64vw 122vh #fff, 82vw 34vh #fff,
    4vw 188vh #fff, 36vw 98vh #fff, 40vw 200vh #fff, 92vw 74vh #fff,
    64vw 40vh #fff, 138vw 92vh #fff, 10vw 28vh #fff, 178vw 34vh #fff,
    186vw 30vh #fff, 194vw 10vh #fff, 154vw 132vh #fff, 136vw 176vh #fff,
    146vw 158vh #fff, 108vw 126vh #fff, 118vw 48vh #fff, 2vw 172vh #fff,
    86vw 68vh #fff, 126vw 60vh #fff, 20vw 98vh #fff, 76vw 34vh #fff,
    14vw 150vh #fff, 174vw 70vh #fff, 136vw 6vh #fff, 12vw 178vh #fff,
    34vw 6vh #fff, 136vw 106vh #fff, 138vw 108vh #fff, 128vw 108vh #fff,
    120vw 52vh #fff, 18vw 200vh #fff, 134vw 116vh #fff, 144vw 42vh #fff,
    66vw 94vh #fff, 34vw 84vh #fff, 78vw 72vh #fff, 14vw 142vh #fff,
    142vw 16vh #fff, 66vw 6vh #fff, 74vw 12vh #fff, 120vw 166vh #fff,
    166vw 190vh #fff, 120vw 96vh #fff, 44vw 54vh #fff, 192vw 144vh #fff,
    10vw 30vh #fff, 130vw 58vh #fff, 130vw 70vh #fff, 146vw 14vh #fff,
    58vw 94vh #fff, 4vw 182vh #fff, 38vw 10vh #fff, 6vw 116vh #fff,
    32vw 20vh #fff;
  animation: animStar 150s linear infinite, twinkleStar 4s ease-in-out infinite;
  animation-delay: 1s;
}
.stars1:after {
  content: ' ';
  top: -600px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 166vw 26vh #fff, 14vw 156vh #fff, 90vw 170vh #fff, 24vw 36vh #fff,
    6vw 34vh #fff, 92vw 34vh #fff, 88vw 94vh #fff, 18vw 162vh #fff,
    18vw 78vh #fff, 6vw 172vh #fff, 192vw 12vh #fff, 138vw 152vh #fff,
    70vw 166vh #fff, 150vw 12vh #fff, 56vw 86vh #fff, 12vw 58vh #fff,
    94vw 126vh #fff, 196vw 58vh #fff, 132vw 142vh #fff, 76vw 174vh #fff,
    8vw 32vh #fff, 178vw 174vh #fff, 70vw 150vh #fff, 174vw 74vh #fff,
    142vw 162vh #fff, 176vw 132vh #fff, 166vw 52vh #fff, 2vw 72vh #fff,
    76vw 176vh #fff, 100vw 130vh #fff, 154vw 60vh #fff, 24vw 148vh #fff,
    92vw 22vh #fff, 132vw 96vh #fff, 2vw 110vh #fff, 62vw 118vh #fff,
    80vw 16vh #fff, 54vw 186vh #fff, 150vw 172vh #fff, 62vw 28vh #fff,
    38vw 190vh #fff, 154vw 148vh #fff, 64vw 64vh #fff, 184vw 16vh #fff,
    130vw 24vh #fff, 58vw 16vh #fff, 12vw 22vh #fff, 120vw 162vh #fff,
    42vw 172vh #fff, 124vw 24vh #fff, 140vw 54vh #fff, 64vw 30vh #fff,
    60vw 162vh #fff, 8vw 184vh #fff, 90vw 38vh #fff, 112vw 138vh #fff,
    42vw 72vh #fff, 142vw 126vh #fff, 124vw 174vh #fff, 78vw 90vh #fff,
    192vw 30vh #fff, 56vw 46vh #fff, 92vw 60vh #fff, 150vw 132vh #fff,
    52vw 4vh #fff, 54vw 90vh #fff, 20vw 118vh #fff, 180vw 114vh #fff,
    72vw 176vh #fff, 60vw 150vh #fff, 178vw 18vh #fff, 196vw 134vh #fff,
    2vw 172vh #fff, 160vw 122vh #fff, 88vw 176vh #fff, 104vw 84vh #fff,
    74vw 154vh #fff, 200vw 116vh #fff, 124vw 46vh #fff, 6vw 190vh #fff,
    42vw 84vh #fff, 200vw 44vh #fff, 68vw 62vh #fff, 174vw 24vh #fff,
    118vw 146vh #fff, 122vw 40vh #fff, 86vw 74vh #fff, 154vw 152vh #fff,
    118vw 82vh #fff, 86vw 124vh #fff, 198vw 198vh #fff, 192vw 2vh #fff,
    64vw 34vh #fff, 132vw 102vh #fff, 178vw 16vh #fff, 118vw 42vh #fff,
    6vw 4vh #fff, 46vw 90vh #fff, 10vw 38vh #fff, 92vw 190vh #fff,
    168vw 134vh #fff, 4vw 194vh #fff, 56vw 198vh #fff, 90vw 74vh #fff,
    34vw 80vh #fff, 198vw 30vh #fff, 92vw 92vh #fff, 198vw 110vh #fff,
    14vw 34vh #fff, 62vw 130vh #fff, 16vw 194vh #fff, 18vw 112vh #fff,
    152vw 124vh #fff, 106vw 102vh #fff, 18vw 180vh #fff, 10vw 196vh #fff,
    146vw 122vh #fff, 98vw 146vh #fff, 34vw 114vh #fff, 148vw 168vh #fff,
    194vw 66vh #fff, 48vw 170vh #fff, 102vw 64vh #fff, 92vw 180vh #fff,
    82vw 56vh #fff, 62vw 120vh #fff, 74vw 60vh #fff, 28vw 198vh #fff,
    70vw 104vh #fff, 90vw 20vh #fff, 92vw 114vh #fff, 178vw 58vh #fff,
    92vw 22vh #fff, 58vw 4vh #fff, 18vw 132vh #fff, 172vw 32vh #fff,
    168vw 84vh #fff, 62vw 110vh #fff, 188vw 182vh #fff, 174vw 170vh #fff,
    148vw 138vh #fff, 96vw 186vh #fff, 146vw 44vh #fff, 200vw 120vh #fff,
    198vw 196vh #fff, 54vw 26vh #fff, 76vw 78vh #fff, 4vw 120vh #fff,
    56vw 68vh #fff, 190vw 22vh #fff, 54vw 30vh #fff, 150vw 110vh #fff,
    128vw 160vh #fff, 156vw 78vh #fff, 138vw 178vh #fff, 182vw 86vh #fff,
    104vw 164vh #fff, 146vw 200vh #fff, 100vw 100vh #fff, 44vw 94vh #fff,
    106vw 84vh #fff, 60vw 160vh #fff, 194vw 2vh #fff, 96vw 158vh #fff,
    166vw 156vh #fff, 172vw 114vh #fff, 148vw 164vh #fff, 8vw 130vh #fff,
    116vw 64vh #fff, 174vw 46vh #fff, 64vw 32vh #fff, 146vw 80vh #fff,
    132vw 44vh #fff, 96vw 110vh #fff, 174vw 134vh #fff, 38vw 26vh #fff,
    132vw 6vh #fff, 24vw 166vh #fff, 174vw 54vh #fff, 72vw 2vh #fff,
    174vw 160vh #fff, 66vw 168vh #fff, 8vw 10vh #fff, 20vw 132vh #fff,
    128vw 18vh #fff, 50vw 16vh #fff, 6vw 84vh #fff, 120vw 20vh #fff,
    194vw 102vh #fff, 74vw 68vh #fff, 96vw 40vh #fff, 62vw 106vh #fff,
    106vw 136vh #fff, 152vw 34vh #fff, 84vw 30vh #fff, 198vw 34vh #fff,
    188vw 200vh #fff, 110vw 102vh #fff, 34vw 190vh #fff, 94vw 162vh #fff,
    72vw 12vh #fff, 134vw 184vh #fff, 168vw 86vh #fff, 146vw 28vh #fff,
    180vw 196vh #fff, 122vw 194vh #fff, 32vw 76vh #fff, 28vw 192vh #fff,
    52vw 50vh #fff, 144vw 158vh #fff, 52vw 48vh #fff, 180vw 180vh #fff,
    186vw 188vh #fff, 178vw 112vh #fff, 156vw 42vh #fff, 128vw 72vh #fff,
    70vw 152vh #fff, 190vw 102vh #fff, 18vw 136vh #fff, 88vw 54vh #fff,
    190vw 16vh #fff, 18vw 60vh #fff, 172vw 4vh #fff, 68vw 152vh #fff,
    94vw 40vh #fff, 154vw 196vh #fff, 108vw 62vh #fff, 48vw 192vh #fff,
    4vw 188vh #fff, 160vw 124vh #fff, 56vw 124vh #fff, 112vw 8vh #fff,
    28vw 172vh #fff, 178vw 86vh #fff, 132vw 72vh #fff, 142vw 116vh #fff,
    116vw 192vh #fff, 42vw 26vh #fff, 136vw 146vh #fff, 22vw 24vh #fff,
    166vw 80vh #fff, 56vw 150vh #fff, 116vw 36vh #fff, 44vw 44vh #fff,
    166vw 152vh #fff, 114vw 130vh #fff, 2vw 188vh #fff, 36vw 28vh #fff,
    124vw 102vh #fff, 126vw 4vh #fff, 136vw 36vh #fff, 134vw 92vh #fff,
    22vw 4vh #fff, 178vw 98vh #fff, 176vw 28vh #fff, 146vw 88vh #fff,
    114vw 184vh #fff, 6vw 46vh #fff, 44vw 182vh #fff, 100vw 122vh #fff,
    152vw 4vh #fff, 10vw 174vh #fff, 76vw 152vh #fff, 118vw 76vh #fff,
    152vw 192vh #fff, 138vw 116vh #fff, 140vw 196vh #fff, 162vw 58vh #fff,
    60vw 148vh #fff, 148vw 22vh #fff, 166vw 148vh #fff, 72vw 166vh #fff,
    94vw 4vh #fff, 68vw 22vh #fff, 176vw 90vh #fff, 122vw 70vh #fff,
    98vw 32vh #fff, 30vw 168vh #fff, 156vw 70vh #fff, 52vw 76vh #fff,
    20vw 2vh #fff, 80vw 52vh #fff, 94vw 76vh #fff, 188vw 90vh #fff,
    194vw 132vh #fff, 166vw 4vh #fff, 148vw 138vh #fff, 12vw 104vh #fff,
    114vw 70vh #fff, 22vw 154vh #fff, 58vw 128vh #fff, 188vw 106vh #fff,
    144vw 90vh #fff, 74vw 134vh #fff, 80vw 76vh #fff, 178vw 96vh #fff,
    170vw 164vh #fff, 34vw 138vh #fff, 132vw 158vh #fff, 30vw 112vh #fff;
}

.stars2 {
  z-index: 2;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 184vw 124vh #fff, 106vw 142vh #fff, 120vw 78vh #fff,
    106vw 140vh #fff, 168vw 102vh #fff, 48vw 60vh #fff, 34vw 104vh #fff,
    84vw 30vh #fff, 72vw 70vh #fff, 102vw 182vh #fff, 186vw 176vh #fff,
    138vw 200vh #fff, 66vw 126vh #fff, 144vw 176vh #fff, 54vw 160vh #fff,
    86vw 20vh #fff, 136vw 38vh #fff, 40vw 44vh #fff, 86vw 48vh #fff,
    26vw 192vh #fff, 200vw 118vh #fff, 140vw 194vh #fff, 14vw 90vh #fff,
    40vw 36vh #fff, 74vw 164vh #fff, 118vw 172vh #fff, 94vw 66vh #fff,
    154vw 24vh #fff, 60vw 140vh #fff, 20vw 42vh #fff, 6vw 192vh #fff,
    26vw 54vh #fff, 180vw 26vh #fff, 48vw 34vh #fff, 136vw 200vh #fff,
    88vw 8vh #fff, 52vw 72vh #fff, 110vw 80vh #fff, 80vw 94vh #fff,
    154vw 72vh #fff, 48vw 84vh #fff, 166vw 124vh #fff, 164vw 98vh #fff,
    70vw 6vh #fff, 64vw 106vh #fff, 20vw 172vh #fff, 56vw 156vh #fff,
    108vw 174vh #fff, 32vw 122vh #fff, 188vw 76vh #fff, 92vw 46vh #fff,
    8vw 32vh #fff, 172vw 120vh #fff, 116vw 6vh #fff, 98vw 74vh #fff,
    156vw 70vh #fff, 200vw 50vh #fff, 154vw 56vh #fff, 152vw 144vh #fff,
    142vw 64vh #fff, 40vw 70vh #fff, 160vw 54vh #fff, 8vw 54vh #fff,
    120vw 198vh #fff, 188vw 44vh #fff, 90vw 76vh #fff, 200vw 104vh #fff,
    168vw 44vh #fff, 92vw 104vh #fff, 76vw 138vh #fff, 50vw 42vh #fff,
    134vw 106vh #fff, 166vw 108vh #fff, 152vw 12vh #fff, 180vw 86vh #fff,
    138vw 6vh #fff, 120vw 62vh #fff, 148vw 38vh #fff, 4vw 62vh #fff,
    66vw 196vh #fff, 138vw 102vh #fff, 90vw 188vh #fff, 136vw 174vh #fff,
    38vw 172vh #fff, 68vw 20vh #fff, 200vw 184vh #fff, 58vw 10vh #fff,
    56vw 66vh #fff, 162vw 190vh #fff, 174vw 194vh #fff, 200vw 38vh #fff,
    2vw 46vh #fff, 22vw 4vh #fff, 182vw 76vh #fff, 150vw 26vh #fff,
    98vw 124vh #fff, 158vw 10vh #fff, 124vw 26vh #fff, 82vw 172vh #fff,
    88vw 8vh #fff, 10vw 170vh #fff, 124vw 62vh #fff, 46vw 40vh #fff,
    196vw 26vh #fff, 188vw 94vh #fff, 178vw 178vh #fff, 40vw 172vh #fff,
    42vw 124vh #fff, 184vw 40vh #fff, 196vw 190vh #fff, 194vw 136vh #fff,
    50vw 16vh #fff, 132vw 174vh #fff, 166vw 36vh #fff, 26vw 200vh #fff,
    114vw 44vh #fff, 180vw 36vh #fff, 62vw 4vh #fff, 28vw 184vh #fff,
    32vw 24vh #fff, 12vw 184vh #fff, 4vw 146vh #fff, 114vw 74vh #fff,
    158vw 150vh #fff, 32vw 196vh #fff, 36vw 132vh #fff, 74vw 74vh #fff,
    16vw 48vh #fff, 106vw 132vh #fff, 132vw 68vh #fff, 112vw 4vh #fff,
    34vw 70vh #fff, 36vw 196vh #fff, 142vw 112vh #fff, 30vw 112vh #fff,
    44vw 192vh #fff, 24vw 90vh #fff, 26vw 124vh #fff, 70vw 14vh #fff,
    74vw 96vh #fff, 58vw 126vh #fff, 106vw 24vh #fff, 120vw 46vh #fff,
    24vw 6vh #fff, 16vw 180vh #fff, 48vw 198vh #fff, 120vw 76vh #fff,
    184vw 16vh #fff, 142vw 86vh #fff, 128vw 110vh #fff, 24vw 182vh #fff,
    16vw 120vh #fff, 178vw 122vh #fff, 186vw 40vh #fff, 130vw 124vh #fff,
    96vw 92vh #fff, 148vw 180vh #fff, 24vw 154vh #fff, 126vw 154vh #fff,
    124vw 80vh #fff, 130vw 86vh #fff, 132vw 130vh #fff, 46vw 182vh #fff,
    118vw 98vh #fff, 6vw 86vh #fff, 90vw 196vh #fff, 114vw 104vh #fff,
    178vw 130vh #fff, 198vw 152vh #fff, 182vw 98vh #fff, 160vw 32vh #fff,
    48vw 94vh #fff, 96vw 76vh #fff, 50vw 16vh #fff, 116vw 68vh #fff,
    4vw 62vh #fff, 46vw 94vh #fff, 38vw 166vh #fff, 56vw 90vh #fff,
    186vw 92vh #fff, 154vw 38vh #fff, 88vw 124vh #fff, 144vw 112vh #fff,
    186vw 184vh #fff, 170vw 24vh #fff, 154vw 186vh #fff, 186vw 92vh #fff,
    72vw 136vh #fff, 86vw 18vh #fff, 4vw 62vh #fff, 142vw 42vh #fff,
    124vw 118vh #fff, 4vw 126vh #fff, 154vw 90vh #fff, 108vw 48vh #fff,
    92vw 56vh #fff, 10vw 126vh #fff, 104vw 46vh #fff, 188vw 54vh #fff,
    90vw 106vh #fff;
  animation: animStar 175s linear infinite, twinkleStar 4s ease-in-out infinite;
  animation-delay: 2s;
}
.stars2:after {
  content: ' ';
  top: -600px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 114vw 34vh #fff, 10vw 144vh #fff, 194vw 84vh #fff,
    166vw 112vh #fff, 132vw 72vh #fff, 184vw 8vh #fff, 38vw 24vh #fff,
    60vw 52vh #fff, 4vw 128vh #fff, 134vw 94vh #fff, 4vw 46vh #fff,
    24vw 96vh #fff, 168vw 182vh #fff, 38vw 180vh #fff, 114vw 48vh #fff,
    200vw 12vh #fff, 200vw 74vh #fff, 126vw 30vh #fff, 6vw 164vh #fff,
    148vw 180vh #fff, 178vw 188vh #fff, 84vw 24vh #fff, 62vw 194vh #fff,
    150vw 46vh #fff, 40vw 124vh #fff, 84vw 88vh #fff, 42vw 76vh #fff,
    194vw 76vh #fff, 114vw 118vh #fff, 192vw 64vh #fff, 88vw 44vh #fff,
    6vw 158vh #fff, 68vw 46vh #fff, 100vw 34vh #fff, 46vw 148vh #fff,
    198vw 62vh #fff, 28vw 10vh #fff, 10vw 124vh #fff, 124vw 148vh #fff,
    80vw 98vh #fff, 104vw 64vh #fff, 92vw 164vh #fff, 26vw 104vh #fff,
    10vw 178vh #fff, 118vw 186vh #fff, 94vw 166vh #fff, 34vw 42vh #fff,
    96vw 98vh #fff, 50vw 200vh #fff, 186vw 64vh #fff, 44vw 50vh #fff,
    136vw 160vh #fff, 190vw 62vh #fff, 32vw 30vh #fff, 194vw 194vh #fff,
    20vw 150vh #fff, 60vw 38vh #fff, 184vw 108vh #fff, 142vw 142vh #fff,
    200vw 168vh #fff, 50vw 98vh #fff, 60vw 112vh #fff, 18vw 156vh #fff,
    90vw 104vh #fff, 50vw 108vh #fff, 70vw 62vh #fff, 98vw 128vh #fff,
    84vw 16vh #fff, 118vw 34vh #fff, 42vw 74vh #fff, 86vw 10vh #fff,
    104vw 118vh #fff, 96vw 52vh #fff, 48vw 118vh #fff, 108vw 30vh #fff,
    88vw 150vh #fff, 168vw 40vh #fff, 126vw 196vh #fff, 172vw 50vh #fff,
    46vw 178vh #fff, 22vw 16vh #fff, 168vw 148vh #fff, 36vw 52vh #fff,
    10vw 28vh #fff, 78vw 132vh #fff, 154vw 140vh #fff, 132vw 118vh #fff,
    174vw 172vh #fff, 104vw 184vh #fff, 82vw 192vh #fff, 74vw 200vh #fff,
    2vw 62vh #fff, 138vw 28vh #fff, 142vw 12vh #fff, 90vw 106vh #fff,
    130vw 42vh #fff, 22vw 46vh #fff, 10vw 174vh #fff, 114vw 98vh #fff,
    172vw 74vh #fff, 162vw 68vh #fff, 120vw 158vh #fff, 110vw 122vh #fff,
    182vw 24vh #fff, 24vw 76vh #fff, 48vw 4vh #fff, 66vw 144vh #fff,
    122vw 136vh #fff, 42vw 74vh #fff, 144vw 180vh #fff, 86vw 72vh #fff,
    50vw 144vh #fff, 120vw 124vh #fff, 36vw 186vh #fff, 132vw 152vh #fff,
    148vw 94vh #fff, 96vw 108vh #fff, 60vw 162vh #fff, 198vw 150vh #fff,
    28vw 62vh #fff, 138vw 62vh #fff, 124vw 176vh #fff, 144vw 96vh #fff,
    80vw 34vh #fff, 10vw 170vh #fff, 122vw 90vh #fff, 146vw 168vh #fff,
    148vw 62vh #fff, 146vw 176vh #fff, 76vw 18vh #fff, 76vw 22vh #fff,
    108vw 140vh #fff, 20vw 48vh #fff, 60vw 46vh #fff, 30vw 50vh #fff,
    84vw 180vh #fff, 158vw 24vh #fff, 88vw 124vh #fff, 176vw 134vh #fff,
    92vw 168vh #fff, 104vw 42vh #fff, 74vw 88vh #fff, 162vw 62vh #fff,
    184vw 98vh #fff, 176vw 104vh #fff, 64vw 138vh #fff, 10vw 16vh #fff,
    138vw 102vh #fff, 58vw 16vh #fff, 80vw 130vh #fff, 132vw 154vh #fff,
    154vw 198vh #fff, 52vw 138vh #fff, 82vw 14vh #fff, 4vw 38vh #fff,
    4vw 38vh #fff, 38vw 190vh #fff, 190vw 130vh #fff, 100vw 2vh #fff,
    170vw 190vh #fff, 154vw 160vh #fff, 122vw 112vh #fff, 104vw 120vh #fff,
    50vw 102vh #fff, 60vw 42vh #fff, 24vw 64vh #fff, 94vw 146vh #fff,
    28vw 160vh #fff, 88vw 156vh #fff, 200vw 114vh #fff, 4vw 164vh #fff,
    46vw 40vh #fff, 126vw 148vh #fff, 190vw 42vh #fff, 176vw 22vh #fff,
    112vw 198vh #fff, 44vw 146vh #fff, 18vw 148vh #fff, 164vw 108vh #fff,
    44vw 116vh #fff, 46vw 162vh #fff, 50vw 48vh #fff, 2vw 8vh #fff,
    194vw 112vh #fff, 146vw 106vh #fff, 88vw 182vh #fff, 62vw 34vh #fff,
    146vw 2vh #fff, 42vw 120vh #fff, 70vw 140vh #fff, 56vw 96vh #fff,
    58vw 106vh #fff, 172vw 160vh #fff, 50vw 22vh #fff, 118vw 72vh #fff,
    68vw 96vh #fff, 52vw 84vh #fff, 190vw 28vh #fff, 58vw 10vh #fff,
    46vw 136vh #fff;
}

.stars3 {
  z-index: 2;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 36vw 144vh #fff, 194vw 144vh #fff, 100vw 32vh #fff, 72vw 14vh #fff,
    50vw 42vh #fff, 134vw 108vh #fff, 118vw 198vh #fff, 126vw 120vh #fff,
    156vw 50vh #fff, 184vw 44vh #fff, 24vw 104vh #fff, 70vw 196vh #fff,
    112vw 194vh #fff, 54vw 116vh #fff, 10vw 26vh #fff, 62vw 86vh #fff,
    158vw 74vh #fff, 196vw 94vh #fff, 58vw 108vh #fff, 138vw 8vh #fff,
    50vw 114vh #fff, 34vw 132vh #fff, 126vw 186vh #fff, 20vw 64vh #fff,
    112vw 28vh #fff, 132vw 166vh #fff, 178vw 168vh #fff, 50vw 152vh #fff,
    38vw 176vh #fff, 12vw 90vh #fff, 172vw 96vh #fff, 68vw 166vh #fff,
    14vw 146vh #fff, 180vw 90vh #fff, 166vw 44vh #fff, 18vw 190vh #fff,
    40vw 164vh #fff, 4vw 154vh #fff, 100vw 146vh #fff, 6vw 68vh #fff,
    178vw 170vh #fff, 100vw 12vh #fff, 86vw 142vh #fff, 106vw 168vh #fff,
    176vw 158vh #fff, 154vw 138vh #fff, 122vw 200vh #fff, 2vw 136vh #fff,
    124vw 180vh #fff, 126vw 12vh #fff, 198vw 154vh #fff, 104vw 6vh #fff,
    132vw 198vh #fff, 190vw 44vh #fff, 196vw 160vh #fff, 50vw 132vh #fff,
    20vw 146vh #fff, 6vw 94vh #fff, 190vw 150vh #fff, 190vw 128vh #fff,
    54vw 8vh #fff, 94vw 130vh #fff, 22vw 44vh #fff, 142vw 124vh #fff,
    32vw 124vh #fff, 138vw 20vh #fff, 92vw 24vh #fff, 172vw 136vh #fff,
    108vw 146vh #fff, 172vw 198vh #fff, 6vw 200vh #fff, 70vw 2vh #fff,
    132vw 78vh #fff, 170vw 152vh #fff, 8vw 200vh #fff, 144vw 120vh #fff,
    162vw 136vh #fff, 8vw 126vh #fff, 160vw 118vh #fff, 108vw 14vh #fff,
    98vw 64vh #fff, 110vw 120vh #fff, 86vw 120vh #fff, 116vw 150vh #fff,
    86vw 114vh #fff, 196vw 40vh #fff, 84vw 90vh #fff, 136vw 136vh #fff,
    66vw 92vh #fff, 126vw 186vh #fff, 170vw 82vh #fff, 122vw 186vh #fff,
    64vw 130vh #fff, 200vw 102vh #fff, 6vw 86vh #fff, 140vw 74vh #fff,
    130vw 62vh #fff, 126vw 56vh #fff, 108vw 2vh #fff, 150vw 104vh #fff,
    62vw 122vh #fff, 24vw 28vh #fff, 26vw 166vh #fff, 58vw 160vh #fff,
    176vw 186vh #fff, 12vw 176vh #fff, 126vw 168vh #fff, 76vw 178vh #fff,
    170vw 138vh #fff, 2vw 6vh #fff, 112vw 70vh #fff, 80vw 122vh #fff,
    182vw 110vh #fff, 98vw 184vh #fff, 64vw 76vh #fff, 158vw 156vh #fff,
    8vw 174vh #fff, 90vw 54vh #fff, 196vw 108vh #fff, 176vw 12vh #fff,
    140vw 34vh #fff, 28vw 4vh #fff, 166vw 90vh #fff, 154vw 180vh #fff,
    68vw 62vh #fff, 82vw 116vh #fff, 152vw 194vh #fff, 164vw 70vh #fff,
    60vw 118vh #fff, 8vw 46vh #fff, 102vw 32vh #fff, 138vw 120vh #fff,
    144vw 114vh #fff, 114vw 150vh #fff, 120vw 192vh #fff, 82vw 22vh #fff,
    182vw 2vh #fff, 142vw 70vh #fff, 162vw 136vh #fff, 36vw 124vh #fff,
    102vw 96vh #fff, 130vw 122vh #fff, 198vw 118vh #fff, 158vw 198vh #fff,
    110vw 22vh #fff, 76vw 194vh #fff, 158vw 128vh #fff, 66vw 58vh #fff,
    72vw 26vh #fff, 72vw 36vh #fff;
  animation: animStar 200s linear infinite, twinkleStar 4s ease-in-out infinite;
}
.stars3:after {
  content: ' ';
  top: -600px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 98vw 38vh #fff, 120vw 192vh #fff, 162vw 94vh #fff, 28vw 184vh #fff,
    168vw 48vh #fff, 36vw 186vh #fff, 98vw 70vh #fff, 8vw 38vh #fff,
    96vw 70vh #fff, 174vw 12vh #fff, 40vw 72vh #fff, 94vw 98vh #fff,
    48vw 160vh #fff, 68vw 174vh #fff, 178vw 78vh #fff, 158vw 178vh #fff,
    10vw 102vh #fff, 138vw 112vh #fff, 62vw 154vh #fff, 40vw 194vh #fff,
    166vw 66vh #fff, 190vw 122vh #fff, 124vw 66vh #fff, 26vw 104vh #fff,
    144vw 12vh #fff, 64vw 74vh #fff, 66vw 10vh #fff, 138vw 128vh #fff,
    32vw 112vh #fff, 50vw 52vh #fff, 128vw 76vh #fff, 194vw 182vh #fff,
    146vw 92vh #fff, 24vw 2vh #fff, 130vw 50vh #fff, 182vw 148vh #fff,
    162vw 134vh #fff, 92vw 140vh #fff, 80vw 120vh #fff, 174vw 62vh #fff,
    96vw 8vh #fff, 34vw 38vh #fff, 88vw 90vh #fff, 36vw 144vh #fff,
    124vw 68vh #fff, 128vw 44vh #fff, 60vw 194vh #fff, 190vw 22vh #fff,
    184vw 142vh #fff, 112vw 24vh #fff, 56vw 150vh #fff, 102vw 2vh #fff,
    20vw 108vh #fff, 72vw 158vh #fff, 20vw 42vh #fff, 136vw 164vh #fff,
    152vw 28vh #fff, 152vw 40vh #fff, 194vw 132vh #fff, 38vw 92vh #fff,
    64vw 24vh #fff, 200vw 108vh #fff, 58vw 46vh #fff, 6vw 128vh #fff,
    136vw 154vh #fff, 124vw 58vh #fff, 180vw 68vh #fff, 148vw 54vh #fff,
    82vw 178vh #fff, 124vw 150vh #fff, 142vw 156vh #fff, 166vw 72vh #fff,
    8vw 164vh #fff, 136vw 164vh #fff, 112vw 188vh #fff, 150vw 162vh #fff,
    28vw 108vh #fff, 48vw 134vh #fff, 140vw 98vh #fff, 184vw 2vh #fff,
    136vw 182vh #fff, 158vw 30vh #fff, 70vw 84vh #fff, 58vw 96vh #fff,
    120vw 170vh #fff, 24vw 200vh #fff, 134vw 58vh #fff, 136vw 22vh #fff,
    142vw 36vh #fff, 58vw 168vh #fff, 44vw 80vh #fff, 142vw 136vh #fff,
    32vw 88vh #fff, 16vw 132vh #fff, 162vw 194vh #fff, 184vw 182vh #fff,
    68vw 96vh #fff, 142vw 154vh #fff, 166vw 8vh #fff, 108vw 128vh #fff,
    198vw 80vh #fff, 78vw 20vh #fff, 194vw 18vh #fff, 162vw 108vh #fff,
    198vw 188vh #fff, 20vw 10vh #fff, 182vw 96vh #fff, 200vw 56vh #fff,
    58vw 200vh #fff, 178vw 156vh #fff, 194vw 80vh #fff, 170vw 28vh #fff,
    66vw 198vh #fff, 34vw 12vh #fff, 168vw 72vh #fff, 142vw 160vh #fff,
    154vw 156vh #fff, 38vw 76vh #fff, 54vw 150vh #fff, 166vw 2vh #fff,
    174vw 100vh #fff, 36vw 170vh #fff, 152vw 142vh #fff, 38vw 68vh #fff,
    188vw 78vh #fff, 32vw 54vh #fff, 192vw 200vh #fff, 192vw 106vh #fff,
    168vw 14vh #fff, 112vw 158vh #fff, 100vw 62vh #fff, 94vw 48vh #fff,
    148vw 124vh #fff, 130vw 98vh #fff, 124vw 114vh #fff, 124vw 188vh #fff,
    60vw 22vh #fff, 84vw 134vh #fff, 68vw 4vh #fff, 64vw 76vh #fff,
    172vw 56vh #fff, 140vw 104vh #fff, 2vw 174vh #fff, 142vw 134vh #fff,
    122vw 176vh #fff, 8vw 184vh #fff, 76vw 10vh #fff, 126vw 160vh #fff,
    46vw 116vh #fff, 86vw 76vh #fff;
} /*# sourceMappingURL=index.css.map */
