@import '../../style/index.scss';

$starFieldWidth: 2600;
$starFieldHeight: 2600;
$starStartOffset: 600px;

$starOneScrollDuration: 150s;
$starOneBisScrollDuration: 300s;
$starTwoScrollDuration: 175s;
$starTwoBisScrollDuration: 350s;
$starThreeScrollDuration: 200s;
$starThreeBisScrollDuration: 400s;
$numStarFixedStars: 100;
$numStarOneStars: 200;
$numStarTwoStars: 150;
$numStarThreeStars: 100;
$numComet: 10;

.main-container {
  z-index: 1;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    $backgroundTop 0%,
    $backgroundBottom 100%
  );
  overflow: hidden;
}

@function create-stars($n) {
  $stars: '#{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF';

  @for $i from 2 through $n {
    $stars: '#{$stars} , #{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF';
  }
  @return unquote($stars);
}

@keyframes animStar {
  from {
    transform: translateY(#{($starFieldHeight) / 2}px)
      translateX(#{($starFieldWidth) / 2}px);
  }
  to {
    transform: translateY(-#{$starFieldHeight}px)
      translateX(-#{$starFieldWidth}px);
  }
}

@keyframes animStarBis {
  from {
    transform: translateY(#{($starFieldHeight) * 1.5}px)
      translateX(#{($starFieldWidth) * 1.5}px);
  }
  to {
    transform: translateY(-#{$starFieldHeight}px)
      translateX(-#{$starFieldWidth}px);
  }
}

@keyframes twinkleFixedStar {
  50% {
    opacity: 0;
  }
}

@keyframes animShootingStar {
  0% {
    transform: translateY(0) translateX(0) rotate(-45deg);
    opacity: 1;
    height: 5px;
  }
  100% {
    transform: translateY(-#{($starFieldHeight) * 0.7}px)
      translateX(-#{$starFieldWidth}px) rotate(-55deg);
    opacity: 1;
    height: 400px;
  }
}

@mixin fixed-star-template($numStars, $starSize, $twinkleDuration) {
  z-index: 2;
  width: $starSize;
  height: $starSize;
  border-radius: 50%;
  background: transparent;
  box-shadow: create-stars($numStars);
  animation: twinkleFixedStar $twinkleDuration ease-in-out infinite;
  &:after {
    content: ' ';
    top: -$starStartOffset;
    width: $starSize;
    height: $starSize;
    border-radius: 50%;
    position: absolute;
    background: transparent;
    box-shadow: create-stars($numStars);
  }
}

@mixin star-template($numStars, $starSize, $scrollSpeed, $twinkleDuration) {
  z-index: 2;
  width: $starSize;
  height: $starSize;
  border-radius: 50%;
  background: transparent;
  box-shadow: create-stars($numStars);
  animation: animStar $scrollSpeed linear infinite,
    twinkleFixedStar $twinkleDuration ease-in-out infinite;
  &:after {
    content: ' ';
    top: -$starStartOffset;
    width: $starSize;
    height: $starSize;
    border-radius: 50%;
    position: absolute;
    background: transparent;
    box-shadow: create-stars($numStars);
  }
}

@mixin star-template-bis($numStars, $starSize, $scrollSpeed, $twinkleDuration) {
  z-index: 2;
  width: $starSize;
  height: $starSize;
  border-radius: 50%;
  background: transparent;
  box-shadow: create-stars($numStars);
  animation: animStarBis $scrollSpeed linear infinite,
    twinkleFixedStar $twinkleDuration ease-in-out infinite;
  &:after {
    content: ' ';
    top: -$starStartOffset;
    width: $starSize;
    height: $starSize;
    border-radius: 50%;
    position: absolute;
    background: transparent;
    box-shadow: create-stars($numStars);
  }
}

@mixin shooting-star-template(
  $numStars,
  $starSize,
  $speed,
  $bottomPosition,
  $rightPosition
) {
  z-index: 2;
  width: ($starSize) + px;
  height: ($starSize + 80) + px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: $bottomPosition;
  right: $rightPosition;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  animation: animShootingStar $speed linear infinite;
}

.fixedStars1 {
  @include fixed-star-template($numStarFixedStars, 1px, 4s);
}
.fixedStars2 {
  @include fixed-star-template($numStarFixedStars, 2px, 5s);
}
.fixedStars3 {
  @include fixed-star-template($numStarFixedStars, 3px, 6s);
}
.stars1 {
  @include star-template($numStarOneStars, 1px, $starOneScrollDuration, 4s);
}
.stars1bis {
  @include star-template-bis(
    $numStarOneStars,
    1px,
    $starOneBisScrollDuration,
    5s
  );
}
.stars2 {
  @include star-template($numStarTwoStars, 2px, $starTwoScrollDuration, 6s);
}
.stars2bis {
  @include star-template-bis(
    $numStarTwoStars,
    1px,
    $starTwoBisScrollDuration,
    6s
  );
}
.stars3 {
  @include star-template($numStarThreeStars, 3px, $starThreeScrollDuration, 7s);
}
.stars3bis {
  @include star-template-bis(
    $numStarThreeStars,
    3px,
    $starThreeBisScrollDuration,
    7s
  );
}
.comet1 {
  @include shooting-star-template(
    $numComet,
    random(4) + 1,
    random(10) + 10 + s,
    random(2000) - 2000 + px,
    random(500) - 500 + px
  );
}
.comet2 {
  @include shooting-star-template(
    $numComet,
    random(4) + 1,
    random(10) + 10 + s,
    random(2000) - 2000 + px,
    random(500) - 500 + px
  );
}
.comet3 {
  @include shooting-star-template(
    $numComet,
    random(4) + 1,
    random(10) + 10 + s,
    random(2000) - 2000 + px,
    random(500) - 500 + px
  );
}
.comet4 {
  @include shooting-star-template(
    $numComet,
    random(4) + 1,
    random(10) + 10 + s,
    random(2000) - 2000 + px,
    random(500) - 500 + px
  );
}
.comet5 {
  @include shooting-star-template(
    $numComet,
    random(4) + 1,
    random(10) + 10 + s,
    random(2000) - 2000 + px,
    random(500) - 500 + px
  );
}
