@import '../../../style/index.scss';

.portfolio-contact {
  margin: 50px;
  border-radius: 25px;
  background-color: $backgroundUnderBottom;
  color: $text-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}
