@import '../../../style/index.scss';

.portfolio-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}

.contact-content {
  z-index: 10;
  position: absolute;
  width: 100%;
  color: $text-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  input,
  select {
    color: #03224c;
    border: none;
    height: 20px;
    border-radius: 5px;
    margin: 10px 5px;
    backdrop-filter: brightness(800%);
    background: transparent;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      outline: 2px solid white;
    }
    option {
      color: white;
      background-color: black;
    }
  }
  textarea {
    backdrop-filter: brightness(800%);
    background: transparent;
    border: none;
    border-radius: 5px;
    margin: 5px;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      outline: 2px solid white;
    }
  }
}
input[type='submit'] {
  height: 40px;
  &:hover {
    opacity: 0.5;
  }
}

.label-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.label-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.intro-contact {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

::placeholder {
  font-size: 15px;
  color: white;
}

.invalid {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

.error-submit-message {
  position: absolute;
  color: red;
}

.confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  p {
    color: #03224c;
  }
}
