body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red;
  font-family: 'Roboto';
}

$text-color: #d6e1ff;
$backgroundTop: #201c2f;
$backgroundBottom: #100751;
$backgroundUnderBottom: #101159;
