@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&family=Manrope&family=Montserrat:wght@200;300;400;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Finlandica sans-serif;
}

h2 {
  font-size: 2.5em;
  font-family: montserrat sans-serif;
}
p {
  font-family: 'Times New Roman', Times, sans-serif;
}

$text-color: #d6e1ff;
$backgroundTop: #201c2f;
$backgroundBottom: #100751;
$backgroundUnderBottom: #101159;
