@import '../../../style/index.scss';

.portfolio-header {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8%;
  // background-color: #201c2f;
  background: linear-gradient(to bottom, $backgroundTop 0%, transparent 100%);
}

nav {
  margin-right: 25px;
}

a {
  color: $text-color;
  margin: 10px;
  text-decoration: none;
  &:hover {
    opacity: 0.5;
  }
}
