@import '../../../style/index.scss';

.portfolio-about {
  margin: 50px;
  border-radius: 25px;
  background-color: $backgroundBottom;
  color: $text-color;
  .presentation-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
